* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Adumu;
    src: url(fonts/Adumu.ttf);
}

@font-face {
    font-family: noto-music;
    src: url(fonts/noto-music.ttf);
}

@font-face {
    font-family: masked-marvel;
    src: url(fonts/maskr.ttf);
}

p {
    margin-bottom: -4em;
    font-family: 'noto-music';
}

@media screen and (max-width: 750px){
    p {
        font-size: 4vw;
        margin-bottom: -2em;
    }

    .canvas {
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100vw;
        height: 100vh;
        border: 1px solid #000;
        user-select: none;
    }

    body {
        height: 100vh;
        text-align: center;
        padding-left: 1em;
        padding-right: 1em;
        padding-top: 15vh;
    }

    .drawing {
        display: none;
    }

    h1 {
        font-family: 'Adumu';
        font-size: 11vw;
    }

    .text {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1em;
        width: 90vw;
        gap: 1em;
        border: 1px solid black;
        position: relative;
        z-index: 1;
    }


    form {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        font-family: 'Adumu';
    }

    input[type="email"] {
        font-family: 'Adumu';
        font-size: 0.7em;
        padding: 0.5em;
        margin-bottom: 1em;
        border: 2px solid #000;
        border-radius: 5px;
        width: 60%;
    }

    button {
        font-family: 'Adumu';
        font-size: 0.7em;
        padding: 0.5em 1em;
        background-color: #f39c12;
        border: 2px solid #000;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s, transform 0.3s;
    }

    button:hover {
        background-color: #e67e22;
        transform: scale(1.05);
    }

    button:active {
        background-color: #d35400;
        transform: scale(0.95);
    }

    img {
        user-select: none;
    }

    .image-3 {
        position: absolute;
        top: 20vh;
        left: 7vw;
        width: 12vw;
    }

    .image-4 {
        position: absolute;
        top: 10vh;
        right: 0;
        width: 15vw;
    }

    #sponsorus {
        transition: transform 0.3s;
    }

    #sponsorus img {
        width: 50vw !important;
    }

    #sponsorus:hover {
        transform: scale(1.05);
    }
}

@media screen and (min-width: 760px) and (max-width: 959px) {
    .canvas {
        border: 1px solid #000;
        user-select: none;
    }

    body {
        display: grid;
        grid-template-columns: 60% 40%;
        height: 100vh;
        text-align: center;
    }

    body h1 {
        font-family: 'Adumu';
        font-size: 5vw;
    }

    .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        grid-column: 2 / 2;
        height: 100vh;
        gap: 4em;
    }


    form {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        font-family: 'Adumu';
    }

    input[type="email"] {
        font-family: 'Adumu';
        font-size: 1em;
        padding: 0.5em;
        margin-bottom: 1em;
        border: 2px solid #000;
        border-radius: 5px;
        width: 60%;
    }

    button {
        font-family: 'Adumu';
        font-size: 1em;
        padding: 0.5em 1em;
        background-color: #f39c12;
        border: 2px solid #000;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s, transform 0.3s;
    }

    button:hover {
        background-color: #e67e22;
        transform: scale(1.05);
    }

    button:active {
        background-color: #d35400;
        transform: scale(0.95);
    }

    .drawing {
        display: grid;
        grid-column: 1 / 1;
        padding: 1em;
        position: relative;
    }

    img {
        user-select: none;
    }


    .image-1 {
        position: absolute;
        top: 0;
        right: -3em;
        width: 13vw;
    }

    .image-2 {
        position: absolute;
        top: 30%;
        left: 0;
        transform: translateY(-50%);
        width: 10vw;
    }

    .image-3 {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 12vw;
    }

    .image-4 {
        position: absolute;
        bottom: 15%;
        right: 0;
        transform: translateY(10%);
        width: 15vw;
    }


    .canvas-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto 1fr 1fr;
        gap: 10px;
    }

    .item-1 {
        grid-column: 1 / span 3;
        grid-row: 1;
    }

    .item-2 {
        grid-column: 1 / span 2;
        grid-row: 2;
    }

    .item-3 {
        grid-column: 1 / span 2;
        grid-row: 3;
    }

    .item-4 {
        grid-column: 3 / span 1;
        grid-row: 2 / span 2;
    }

    .canvas {
        height: 100%;
        width: 100%;
    }

    #sponsorus {
        transition: transform 0.3s;
    }

    #sponsorus:hover {
        transform: scale(1.05);
    }

    .mobile-images {
        display: none;
    }

    #sponsorus img {
        width: 35vw !important;
    }
}

@media screen and (min-width: 960px){
    .canvas {
        border: 1px solid #000;
        user-select: none;
    }

    body {
        display: grid;
        grid-template-columns: 60% 40%;
        height: 100vh;
        text-align: center;
    }

    body h1 {
        font-family: 'Adumu';
        font-size: 5vw;
    }

    .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        grid-column: 2 / 2;
        height: 100vh;
        gap: 4em;
    }


    form {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        font-family: 'Adumu';
    }

    input[type="email"] {
        font-family: 'Adumu';
        font-size: 1.5em;
        padding: 0.5em;
        margin-bottom: 1em;
        border: 2px solid #000;
        border-radius: 5px;
        width: 60%;
    }

    button {
        font-family: 'Adumu';
        font-size: 1.5em;
        padding: 0.5em 1em;
        background-color: #f39c12;
        border: 2px solid #000;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s, transform 0.3s;
    }

    button:hover {
        background-color: #e67e22;
        transform: scale(1.05);
    }

    button:active {
        background-color: #d35400;
        transform: scale(0.95);
    }

    .drawing {
        display: grid;
        grid-column: 1 / 1;
        padding: 1em;
        position: relative;
    }

    img {
        user-select: none;
    }


    .image-1 {
        position: absolute;
        top: 0;
        right: -3em;
        width: 13vw;
    }

    .image-2 {
        position: absolute;
        top: 30%;
        left: 0;
        transform: translateY(-50%);
        width: 10vw;
    }

    .image-3 {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 12vw;
    }

    .image-4 {
        position: absolute;
        bottom: 15%;
        right: 0;
        transform: translateY(10%);
        width: 15vw;
    }


    .canvas-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto 1fr 1fr;
        gap: 10px;
    }

    .item-1 {
        grid-column: 1 / span 3;
        grid-row: 1;
    }

    .item-2 {
        grid-column: 1 / span 2;
        grid-row: 2;
    }

    .item-3 {
        grid-column: 1 / span 2;
        grid-row: 3;
    }

    .item-4 {
        grid-column: 3 / span 1;
        grid-row: 2 / span 2;
    }

    .canvas {
        height: 100%;
        width: 100%;
    }

    #sponsorus {
        transition: transform 0.3s;
    }

    #sponsorus:hover {
        transform: scale(1.05);
    }

    .mobile-images {
        display: none;
    }
}