---
import Hero from "../components/Hero.astro";
import Lore from "../components/Lore.astro";
import Navbar from "../components/Navbar.astro";
import Overview from "../components/Overview.astro";
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import About from "../components/About.astro";
---

<Layout title="Ragnohacks">
  <header>
    <!-- Eddie -->
    <Navbar />
    <!-- Sam -->
    <Hero />
    <About />
  </header>
  <main>
    <Lore />
    <Overview />
    <Footer />
  </main>
</Layout>
