---
import Hero from "../components/Hero/Hero.astro";
import Lore from "../components/Lore.astro";
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import Sponsor from "../components/Sponsor.astro";
import FAQ from "../components/FAQ.astro";
import Important from "../components/Important.astro";
import Overview from "../components/Overview.astro";
import Clouds from "../components/Clouds.astro";
import Info from "../components/Info.astro";
---

<Layout title="Ragnohacks: Ottawa's first in-person high school hackathon">
  <header>
    <Navbar />
    <Hero />
  </header>
  <Clouds />
  <main>
    <Lore />
    <Clouds />
    <Info />
    <Overview />
    <Important />
    <Clouds />
    <Sponsor />
    <Clouds />
    <FAQ />
  </main>
  <footer>
    <Footer />
  </footer>
</Layout>
