<div
  class="overflow-x-clip flex justify-center flex-col bg-dino-teal mt-24 sm:mt-24 md:mt-14"
>
  <div
    class="flex flex-row left-10 items-end z-10 relative justify-center max-w-max min-w-30l sm:min-w-full"
  >
    <!-- <svg
      width="995"
      height="343"
      viewBox="0 0 995 343"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      class="relative left-5 lg:left-10"
    >
      <path
        d="M952 160.883C970 172.883 1003.5 196.883 974.5 235.383C996.667 271.883 1014.71 343.411 888.706 318.211C864.206 325.045 802.4 319.511 798 292.711C747 336.983 638.6 333.983 615 279.983C578.5 308.983 505.306 364.811 451.706 305.211C436.706 326.378 382.806 353.511 287.206 292.711C264.539 321.045 199.106 365.611 118.706 317.211C118.706 322.211 -32.2945 327.711 12.2055 271.711C17.372 253.378 33.5051 220.911 56.7051 237.711C62.372 220.545 82.7059 189.811 118.706 204.211C118.706 208.711 147.5 120.483 242.205 141.211C244.205 144.211 232.795 108.254 273 102.983C272.333 92.3159 284.1 61.5826 308.5 61.9826C354.5 25.8159 453.105 -21.4887 516.705 85.7113C543.5 78.9826 586.705 85.7113 586.705 141.211C591.705 145.711 620.5 72.4826 677 120.383C682.5 124.383 664 76.2113 709.205 76.2113C752 1.38251 850.405 -39.3887 921.205 76.2113C956.5 93.3825 974.5 116.883 952 160.883Z"
        fill="white"
        stroke="#76B8B0"
        stroke-width="8"
        stroke-linejoin="round"></path>
    </svg> -->
    <img
      src="/cloud.png"
      alt=""
      class="relative -left-10 -top-20 max-w-xs md:max-w-xl md:-top-36 lg:max-w-3xl lg:-top-44 cloud-animation"
    />
    <img
      src="/cloud2.png"
      alt=""
      class="relative right-20 -z-10 -top-20 max-w-xs md:max-w-xl md:-top-36 lg:max-w-3xl lg:-top-44 cloud-animation2"
    />
    <!-- <svg
      width="1035"
      height="360"
      viewBox="0 0 1035 360"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      class="relative right-5 lg:right-10 -z-10"
    >
      <path
        d="M991.097 173.213C1009.84 186.156 1044.72 212.042 1014.52 253.568C1037.61 292.937 1056.39 370.088 925.192 342.907C899.681 350.278 835.327 344.309 830.746 315.403C777.642 363.154 664.772 359.918 640.198 301.674C602.193 332.953 525.98 393.17 470.169 328.885C454.551 351.716 398.428 380.982 298.885 315.403C275.284 345.963 207.152 394.033 123.436 341.829C123.436 347.222 -33.7913 353.154 12.5439 292.752C17.9235 272.978 34.7219 237.96 58.8787 256.08C64.7794 237.564 85.9518 204.415 123.436 219.947C123.436 224.801 153.418 129.638 252.029 151.996C254.111 155.231 242.231 116.448 284.094 110.762C283.4 99.2572 295.652 66.1084 321.058 66.5398C368.955 27.5306 471.627 -23.492 537.85 92.1335C565.75 84.876 610.737 92.1335 610.737 151.996C615.943 156.849 645.925 77.8651 704.755 129.53C710.482 133.844 691.219 81.8868 738.289 81.8868C782.848 1.17679 885.312 -42.7989 959.032 81.8868C995.782 100.408 1014.52 125.755 991.097 173.213Z"
        fill="white"
        stroke="#76B8B0"
        stroke-width="8"
        stroke-linejoin="round"></path>
    </svg> -->
  </div>
  <div class="text-center -mt-16">
    <!-- <p class="text-xl font-thin font-inter text-light-dino-teal lg:text-2xl">REPRESENT A COUNTRY</p> -->
    <h2 class="text-4xl text-dark-dino-teal mt-5 lg:text-5xl">JOIN US AGAINST</h2>
    <h1 class="text-7xl font-adumu text-white lg:text-8xl">NATURAL<br />DISASTERS</h1>
  </div>

  <div
    class="flex flex-row items-end z-10 relative justify-center max-w-max min-w-30l sm:min-w-full"
  >
    <img
      src="/cloud.png"
      alt=""
      class="relative left-10 max-w-xs top-10 md:max-w-xl md:top-14 lg:max-w-3xl lg:top-20 cloud-animation3"
    />
    <img
      src="/cloud2.png"
      alt=""
      class="relative right-10 max-w-xs top-10 md:max-w-xl md:top-14 lg:max-w-3xl lg:top-20 cloud-animation4"
    />
  </div>
</div>
<br>

<style>
  @keyframes floating {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0);
    }
  }

  .cloud-animation {
    animation: floating 5s ease-in-out infinite;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.2));
  }

  @keyframes floating2 {
    0% {
      transform: translateY(0);
    }
    60% {
      transform: translateY(-15px);
    }
    100% {
      transform: translateY(0);
    }
  }

  .cloud-animation2 {
    animation: floating2 5s ease-in-out infinite;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.2));
  }

  @keyframes floating3 {
    0% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-25px);
    }
    100% {
      transform: translateY(0);
    }
  }

  .cloud-animation3 {
    animation: floating3 5s ease-in-out infinite;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.2));
  }

  @keyframes floating4 {
    0% {
      transform: translateY(0);
    }
    70% {
      transform: translateY(-14px);
    }
    100% {
      transform: translateY(0);
    }
  }

  .cloud-animation4 {
    animation: floating4 5s ease-in-out infinite;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.2));
  }

  .cloud-animation,
  .cloud-animation2 {
    animation-delay: 0s;
  }

  .cloud-animation3,
  .cloud-animation4 {
    animation-delay: 2.5s;
  }

  .add-width {
    width: calc(100% + 20rem);
  }
</style>
