<!-- <div class="h-screen w-screen">
    <div></div>
    <div>
        <div>
            <h1>IMPORTANT</h1>
            <h1>DETAILS</h1>
            <div>
                <div>
                    <h1>TIME</h1>
                    <h1>WHERE</h1>
                </div>
            </div>
        </div>
        <div>
            img
        </div>
    </div>
</div> -->

<div class="bg-dino-neon-orange flex items-center justify-center w-screen flex-col overflow-clip py-10">
    <div class="scrolling-text-container bg-white mb-4">
        <div class="scrolling-text-wrapper overflow-hidden whitespace-nowrap h-20">
          <h1 class="text-6xl font-bold text-dino-neon-orange scrolling-text inline-block">
            IMPORTANT! IMPORTANT! IMPORTANT! IMPORTANT! IMPORTANT! IMPORTANT! IMPORTANT! IMPORTANT! IMPORTANT! IMPORTANT! IMPORTANT! IMPORTANT! IMPORTANT! IMPORTANT! IMPORTANT! IMPORTANT! IMPORTANT! IMPORTANT! IMPORTANT! IMPORTANT! IMPORTANT! IMPORTANT! IMPORTANT! IMPORTANT! IMPORTANT! IMPORTANT! IMPORTANT! IMPORTANT! IMPORTANT! IMPORTANT! IMPORTANT! IMPORTANT! IMPORTANT! IMPORTANT! IMPORTANT! IMPORTANT! IMPORTANT! IMPORTANT! IMPORTANT! IMPORTANT! IMPORTANT! IMPORTANT! IMPORTANT! IMPORTANT! IMPORTANT! IMPORTANT! IMPORTANT! IMPORTANT! IMPORTANT! IMPORTANT! IMPORTANT! IMPORTANT! IMPORTANT! IMPORTANT! IMPORTANT! IMPORTANT! IMPORTANT! IMPORTANT! IMPORTANT! IMPORTANT! IMPORTANT! IMPORTANT! IMPORTANT!
          </h1>
        </div>
      </div>
    <div class="rounded-lg p-4 flex flex-col-reverse gap-5 sm:flex-row">
        <div>
            <div class="text-5xl font-normal text-white text-center lg:text-6xl">IMPORTANT</div>
            <div class="text-6xl font-extrabold text-white mb-4 text-center lg:text-7xl">DETAILS</div>
            
            <div class="bg-orange-500 text-white rounded-lg p-4 mb-4">
                <div class="flex justify-between flex-col items-end">
                    <div class="flex flex-row items-center">
                        <div class="text-xl lg:text-2xl">TIME</div>
                        <div class="border-r-4 rounded-full border-white mr-6 ml-4 flex-row h-36 relative -mb-24"></div>
                        <div class="w-48 lg:text-lg lg:w-52">September 27 (2PM) to<br>September 28 (2PM)</div>
                    </div>
                    <div class="flex flex-row items-center mt-5">
                        <div class="text-xl lg:text-2xl">WHERE</div>
                        <div class="ml-11 w-48 lg:w-52">Location Name<br>123 Address St, K2Y 14C<br>Ottawa, ON</div>
                    </div>
                </div>
            </div>
        </div>
            <div class="bg-gray-300 p-8 flex items-center justify-center rounded-xl h-64 sm:w-80 sm:h-auto lg:w-96">
        </div>
    </div>
</div>
<style>
    @keyframes scroll-left {
      0% {
        transform: translateX(0%);
      }
      100% {
        transform: translateX(-20%);
      }
    }
  
    .scrolling-text-wrapper {
      display: flex;
      align-items: center;
    }
  
    .scrolling-text {
      animation: scroll-left 20s linear infinite;
    }
  </style>
  