<section
  class="relative flex justify-center pt-16 overflow-hidden text-center md:pt-20"
>
  <!-- SEO -->
  <h1 class="w-0 h-0 p-0 m-0 overflow-hidden">Ragnohacks</h1>

  <div class="max-w-6xl md:grid-cols-2 md:grid grow">
    <div class="flex flex-col space-y-2 grow">
      <div
        class="hidden max-h-[calc(0.50*(100%))] max-w-full text-dino-neon-orange pt-6 pb-6 ml-4 md:flex items-center justify-center"
      >
        <svg
          viewBox="0 0 639 371"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="max-w-full max-h-full p-6"
        >
          <text
            x="50"
            y="150"
            font-size="190"
            stroke="transparent"
            fill="transparent">Ragno</text
          >
          <text
            x="-10"
            y="380"
            font-size="240"
            stroke="transparent"
            fill="transparent">hacks</text
          >
          <path
            d="M99.2138 171.863L151.422 176.061L148.663 352.942L96.9663 350.288L97.8429 283.167L63.9911 281.798L62.3463 348.686L11.4467 351.235L10.0611 171.683L66.6179 172.104L65.0168 239.437L98.3906 240.809L99.2138 171.863Z"
            fill="currentColor"></path>
          <path
            d="M266.43 174.551L271.463 303.818L230.373 304.267L228.454 258.711L197.06 260.331L194.574 303.081L156.435 303.533L160.432 169.381L167.984 160.849L254.098 158L266.43 174.551ZM227.822 230.944L226.27 194.529L200.207 196.375L198.735 228.892L227.822 230.944Z"
            fill="currentColor"></path>
          <path
            d="M166.575 314.59L253.614 316.761L254.091 346.555L165.587 345.157L166.575 314.59Z"
            fill="currentColor"></path>
          <path
            d="M351.59 308.265L386.379 310.867L387.655 341.621L380.897 355.442L296.508 355.812L283.896 348.872L281.567 214.504L287.022 201.801L376.826 203.174L388.164 213.411L385.988 254.932L350.652 254.838L347.223 233.099L321.004 231.878L323.698 327.25L348.629 329.204L351.59 308.265Z"
            fill="currentColor"></path>
          <path
            d="M516.309 265.974L497.112 272.565L519.178 345.128L515.553 353.613L476.529 356.226L457.606 286.068L441.155 291.744L437.471 344.696L390.271 340.326L395.557 192.824L447.4 201.722L444.379 246.948L473.849 236.773L477.361 206.673L524.65 216.079L516.309 265.974Z"
            fill="currentColor"></path>
          <path
            d="M623.552 282.23L632.53 300.154L632.018 350.581L620.927 360.052L539.281 360.234L532.323 346.786L535.225 313.834L565.887 314.175L568.584 329.32L595.857 328.979L596.437 307.553L541.249 301.274L533.141 292.563L533.217 235.637L540.053 227.703L605.452 224.865L628.533 231.288L630.586 263.432L624.066 268.823L599.119 269.872L594.468 256.091L570.786 257.766L569.097 277.347L623.552 282.23Z"
            fill="currentColor"></path>
          <path
            d="M549.631 195.124L621.392 197.186L621.906 218.463L548.928 216.942L549.631 195.124Z"
            fill="currentColor"></path>
          <path
            d="M174.438 120.952L163.853 122.095L178.525 150.711L175.151 157.474L143.771 165.312L120.532 124.697L110.512 125.034L109.162 161.136L67.7059 164.335L65.5918 4.91309L172.817 11.8314L180.892 19.6474L182.27 107.65L174.438 120.952ZM138.839 87.2809L138.464 42.5854L111.431 39.8672L111.062 89.1213L138.839 87.2809Z"
            fill="currentColor"></path>
          <path
            d="M275.918 67.4635L274.489 157.885L243.535 149.35L243.933 117.483L220.203 111.828L216.623 140.835L187.879 132.979L196.26 41.127L202.308 36.8358L267.288 53.3889L275.918 67.4635ZM244.54 98.1308L244.82 72.6525L225.143 68.3113L222.726 90.478L244.54 98.1308Z"
            fill="currentColor"></path>
          <path
            d="M327.498 127.703L369.211 129.972L368.315 179.062L362.23 189.006L291.978 186.548L281.707 180.427L284.104 78.8108L289.299 72.2881L362.854 74.4746L372.111 82.1358L368.933 114.393L339.805 113.006L338.102 97.6534L316.258 97.6174L315.154 163.005L336.303 165.304L337.352 151.668L326.801 150.148L327.498 127.703Z"
            fill="currentColor"></path>
          <path
            d="M435.758 41.0475L471.105 44.751L467.546 147.203L439.319 144.118L409.738 88.9549L408.015 137.19L376.465 135.326L376.384 31.4463L410.477 36.2901L435.87 83.5223L435.758 41.0475Z"
            fill="currentColor"></path>
          <path
            d="M587.652 31.7357L597.582 41.5917L598.186 171.883L590.697 185.506L497.146 185.381L483.285 177.737L480.089 41.1206L486.608 31.5472L587.652 31.7357ZM524.187 63.5829L526.842 152.624L555.018 154.574L554.015 66.1613L524.187 63.5829Z"
            fill="currentColor"></path>
          <path
            d="M377.783 151.644L464.41 163.565L464.673 187.767L376.59 176.293L377.783 151.644Z"
            fill="currentColor"></path>
        </svg>
      </div>

      <div class="flex justify-center h-64 md:hidden">
        <img
          src="/hero/dino.png"
          alt="Ragnohacks Dino"
          class="max-w-full max-h-full"
        />
      </div>

      <div class="flex justify-center text-dino-neon-orange md:hidden">
        <svg
          width="305"
          height="195"
          viewBox="0 0 305 195"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="-mt-16"
        >
          <path
            d="M50.7089 88.1492C49.0627 88.1013 47.4796 88.7315 46.3305 89.8921C45.1814 91.0528 44.5671 92.642 44.6317 94.2875L45.5493 117.689L43.3268 117.712L42.7024 94.8917C42.6579 93.2674 41.9568 91.7203 40.7593 90.604C39.5617 89.4876 37.9701 88.8975 36.3482 88.9683L12.17 90.0249C8.86248 90.1695 6.33995 92.9687 6.53492 96.2781L11.0536 172.978C11.1508 174.627 11.9233 176.175 13.1891 177.255C14.4549 178.336 16.102 178.854 17.7425 178.687L39.4382 176.485C42.5221 176.172 44.8211 173.555 44.7387 170.451L44.1381 147.831L46.7054 147.803L47.5729 170.578C47.6971 173.838 50.4014 176.443 53.6623 176.443L75.8126 176.446C77.4248 176.447 78.9592 175.798 80.0698 174.647C81.1806 173.496 81.7741 171.939 81.7169 170.328L79.0277 94.6787C78.914 91.4802 76.3112 88.8944 73.1115 88.8013L50.7089 88.1492Z"
            fill="white"
            stroke="white"
            stroke-width="12"
            stroke-linejoin="round"></path>
          <path
            d="M132.733 99.0104C132.697 97.8684 132.337 96.7552 131.695 95.8013L126.727 88.4251C125.542 86.6654 123.533 85.6418 121.432 85.7279L86.5414 87.157C84.8342 87.2269 83.2497 88.024 82.1864 89.3478L79.1121 93.175C78.3095 94.1742 77.8544 95.4113 77.8146 96.7023L75.9641 156.677C75.913 158.335 76.5497 159.951 77.7231 161.141C78.8964 162.332 80.5019 162.991 82.1581 162.962L97.6096 162.691C100.71 162.636 103.22 160.221 103.395 157.122L104.18 143.245L105.433 143.169L105.917 157.263C106.031 160.574 108.799 163.211 112.104 163.156L128.751 162.881C132.058 162.827 134.654 160.098 134.549 156.785L132.733 99.0104Z"
            fill="white"
            stroke="white"
            stroke-width="12"
            stroke-linejoin="round"></path>
          <path
            d="M85.9907 160.338L80.0708 160.16L79.8995 166.082L79.6081 176.161L79.4313 182.276L85.5447 182.419L126.108 183.37L132.398 183.517L132.157 177.221L131.781 167.39L131.564 161.706L125.886 161.536L85.9907 160.338Z"
            fill="white"
            stroke="white"
            stroke-width="12"></path>
          <path
            d="M168.284 137.239C165.712 137.054 163.4 138.523 162.429 140.784L161.906 125.631C162.794 127.931 165.019 129.525 167.548 129.54L181.754 129.626C184.92 129.645 187.518 127.196 187.687 124.033L188.504 108.735C188.607 106.819 187.787 104.955 186.298 103.721L181.726 99.9321C180.661 99.0493 179.331 98.5545 177.959 98.5304L141.855 97.8949C139.513 97.8537 137.382 99.1811 136.398 101.294L134.223 105.968C133.838 106.794 133.649 107.7 133.67 108.617L134.791 158.14C134.842 160.38 136.134 162.425 138.142 163.443L143.222 166.019C144.073 166.451 145.011 166.676 145.959 166.675L179.885 166.661C182.076 166.66 184.074 165.462 185.096 163.537L187.793 158.452C188.294 157.509 188.53 156.444 188.478 155.37L187.922 144.034C187.772 140.965 185.335 138.469 182.274 138.249L168.284 137.239Z"
            fill="white"
            stroke="white"
            stroke-width="12"
            stroke-linejoin="round"></path>
          <path
            d="M246.968 140.998C248.575 140.446 249.757 139.109 250.182 137.363L256.585 111.054C256.975 109.449 256.688 107.652 255.793 106.095C254.899 104.538 253.477 103.363 251.872 102.854L231.961 96.5399C228.869 95.5594 225.926 97.2636 225.294 100.4L222.681 113.374L222.048 113.593L224.096 100.814C224.353 99.2113 223.966 97.4772 223.024 96.0081C222.083 94.539 220.666 93.4605 219.1 93.0192L197.193 86.8489C194.014 85.9536 191.094 87.8737 190.652 91.1488L180.098 169.462C179.87 171.149 180.347 172.958 181.41 174.44C182.472 175.922 184.021 176.938 185.672 177.236L205.827 180.869C208.754 181.397 211.305 179.572 211.787 176.603L214.208 161.702L216.472 181.883C216.66 183.56 217.477 185.177 218.736 186.362C219.995 187.548 221.588 188.202 223.151 188.174L240.163 187.866C242.107 187.831 243.77 186.747 244.586 184.983L246.628 180.57C247.097 179.557 247.258 178.38 247.091 177.182L242.269 142.61L246.968 140.998Z"
            fill="white"
            stroke="white"
            stroke-width="12"
            stroke-linejoin="round"></path>
          <path
            d="M294.892 137.61L295.598 137.025C297.055 135.821 297.843 133.986 297.722 132.081L296.956 120.092C296.79 117.508 294.992 115.295 292.493 114.599L283.884 112.203C283.273 112.033 282.64 111.961 282.01 111.988L257.617 113.047C255.986 113.117 254.464 113.853 253.404 115.082L250.854 118.041C249.933 119.111 249.426 120.479 249.424 121.903L249.396 143.135C249.394 144.672 249.981 146.161 251.036 147.294L251.305 147.583C250.691 148.424 250.294 149.439 250.196 150.551L249.114 162.841C249.013 163.982 249.242 165.133 249.772 166.157L252.367 171.173C253.418 173.206 255.518 174.487 257.789 174.482L288.242 174.414C289.65 174.411 291.004 173.911 292.067 173.004L296.204 169.471C297.499 168.365 298.25 166.749 298.267 165.032L298.458 146.223C298.468 145.262 298.247 144.309 297.814 143.444L294.892 137.61Z"
            fill="white"
            stroke="white"
            stroke-width="12"
            stroke-linejoin="round"></path>
          <path
            d="M256.955 93.2927L251.051 93.114L250.864 99.0194L250.568 108.355L250.374 114.491L256.508 114.632L290.491 115.414L296.724 115.558L296.539 109.318L296.269 100.211L296.099 94.4777L290.373 94.3043L256.955 93.2927Z"
            fill="white"
            stroke="white"
            stroke-width="12"></path>
          <path
            d="M178.751 59.9789C179.32 59.1706 179.694 58.2072 179.798 57.1515L181.234 42.5766C181.431 40.5719 180.608 38.5863 179.044 37.2912L174.861 33.8296C173.815 32.9642 172.515 32.4719 171.169 32.4319L137.933 31.444C136.066 31.3885 134.293 32.2068 133.138 33.6575L130.791 36.6047C129.988 37.6128 129.537 38.8595 129.507 40.1578L128.424 86.0719C128.372 88.2621 129.517 90.325 131.411 91.4538L136.051 94.2198C136.931 94.7442 137.926 95.038 138.943 95.0736L170.686 96.1839C172.822 96.2587 174.819 95.1897 175.928 93.3779L178.677 88.8851C179.227 87.9865 179.527 86.9543 179.546 85.8936L179.951 63.7127C179.977 62.3223 179.527 61.0246 178.751 59.9789Z"
            fill="white"
            stroke="white"
            stroke-width="12"
            stroke-linejoin="round"></path>
          <path
            d="M209.092 21.1226C206.963 20.921 205.128 21.8944 204.141 23.5309L203.906 23.049C202.883 20.953 200.885 19.4612 198.703 19.1648L184.367 17.2167C182.792 17.0027 181.278 17.4356 180.159 18.4201C179.039 19.4045 178.407 20.8596 178.402 22.4642L178.232 70.6777C178.226 72.3715 178.918 74.0807 180.14 75.3887C181.362 76.6966 183.001 77.4832 184.659 77.5565L197.931 78.144C200.917 78.2762 203.247 76.0925 203.361 73.0556L205.352 77.1453C206.41 79.3174 208.51 80.8357 210.769 81.0608L222.64 82.2441C225.763 82.5554 228.278 80.3353 228.391 77.1683L230.09 29.5853C230.149 27.9171 229.523 26.2099 228.36 24.8721C227.197 23.5342 225.603 22.686 223.958 22.5303L209.092 21.1226Z"
            fill="white"
            stroke="white"
            stroke-width="12"
            stroke-linejoin="round"></path>
          <path
            d="M84.0568 68.4635C84.4906 68.0727 84.8683 67.6149 85.1738 67.1005L88.6681 61.2168C89.2282 60.2736 89.5152 59.1898 89.4973 58.0849L88.8676 19.1498C88.8414 17.5297 88.1625 15.9787 86.9851 14.8492L83.3791 11.3898C82.3397 10.3927 80.9847 9.79443 79.558 9.70266L31.6903 6.62339C30.037 6.51704 28.4239 7.09918 27.2332 8.23192C26.0425 9.36466 25.3801 10.9472 25.4029 12.6047L26.3728 83.1379C26.3958 84.8111 27.1149 86.4096 28.3569 87.5482C29.5988 88.6867 31.2509 89.262 32.915 89.1354L51.4209 87.7268C54.4225 87.4984 56.7536 85.0713 56.8662 82.0573L56.969 79.3067L61.1461 86.5389C62.5029 88.8881 65.2431 90.068 67.8471 89.4242L81.8542 85.9615C83.524 85.5487 84.9239 84.4325 85.6957 82.8984L87.2007 79.907C88.0611 78.1967 88.0429 76.1639 87.1516 74.4421L84.0568 68.4635ZM57.8168 34.7078L57.9881 34.7249L58.0651 43.4412L57.7539 43.4616L57.8168 34.7078Z"
            fill="white"
            stroke="white"
            stroke-width="12"
            stroke-linejoin="round"></path>
          <path
            d="M133.382 45.8728C133.414 44.5784 133.061 43.2188 132.374 41.9903L128.746 35.5056C127.71 33.6541 126.02 32.2837 124.198 31.818L96.4512 24.728C94.9444 24.3429 93.4838 24.6124 92.3887 25.4775L89.7782 27.5396C88.7804 28.3277 88.1567 29.5548 88.0215 30.9954L83.9901 73.9484C83.8358 75.5915 84.3295 77.377 85.3553 78.8857C86.381 80.3945 87.8484 81.4937 89.4132 81.9254L101.684 85.3109C104.645 86.1277 107.212 84.3894 107.592 81.3111L107.75 80.0253L107.718 81.4998C107.646 84.8179 110.059 88.1557 113.153 89.0177L126.368 92.6986C127.898 93.1249 129.393 92.8767 130.516 92.0097C131.638 91.1428 132.294 89.7301 132.334 88.0901L133.382 45.8728Z"
            fill="white"
            stroke="white"
            stroke-width="12"
            stroke-linejoin="round"></path>
          <path
            d="M282.267 17.7531C281.127 16.6213 279.591 15.9836 277.998 15.9806L234.761 15.9C232.797 15.8963 230.971 16.8561 229.873 18.4692L227.083 22.5657C226.388 23.5865 226.03 24.8033 226.059 26.0479L227.427 84.5062C227.477 86.6701 228.687 88.6574 230.592 89.7081L236.523 92.9785C237.419 93.4725 238.422 93.7323 239.438 93.7337L279.468 93.7875C281.631 93.7904 283.61 92.6262 284.646 90.741L287.851 84.9115C288.336 84.0287 288.588 83.0337 288.583 82.0194L288.325 26.2678C288.318 24.6596 287.666 23.1115 286.517 21.9705L282.267 17.7531ZM258.047 68.1153L257.888 68.1043L257.115 42.166L257.754 42.2212L258.047 68.1153Z"
            fill="white"
            stroke="white"
            stroke-width="12"
            stroke-linejoin="round"></path>
          <path
            d="M183.393 72.4469L177.548 71.6426L177.263 77.5477L176.752 88.0949L176.455 94.2328L182.532 95.0243L220.222 99.9339L226.385 100.737L226.317 94.4664L226.204 84.1106L226.142 78.3296L220.461 77.5478L183.393 72.4469Z"
            fill="white"
            stroke="white"
            stroke-width="12"></path>
          <path
            d="M51.0021 90.3937L76.0073 91.1057L78.9943 174.107L54.2707 174.107L53.056 142.614L36.8757 142.787L37.7183 174.189L13.5017 176.609L8.47272 92.4542L35.4601 91.2912L36.3344 122.9L52.2868 122.741L51.0021 90.3937Z"
            fill="currentColor"></path>
          <path
            d="M130.594 97.6852L132.615 158.212L114.689 158.477L113.913 137.146L100.216 137.947L99.0731 157.969L82.4345 158.231L84.3599 95.4042L87.6661 91.3991L125.237 89.9509L130.594 97.6852ZM113.675 124.144L113.047 107.094L101.675 107.993L100.989 123.222L113.675 124.144Z"
            fill="currentColor"></path>
          <path
            d="M84.5264 164.873L130.099 166.089L130.409 180.206L84.0717 179.354L84.5264 164.873Z"
            fill="currentColor"></path>
          <path
            d="M168.799 141.214L183.895 142.309L184.487 154.701L181.573 160.261L144.965 160.297L139.485 157.484L138.304 103.346L140.654 98.2347L179.614 98.9075L184.545 103.047L183.654 119.773L168.325 119.688L166.81 110.925L155.434 110.398L156.724 148.826L167.542 149.647L168.799 141.214Z"
            fill="currentColor"></path>
          <path
            d="M250.225 135.376L240.796 138.339L247.147 178.927L244.961 183.462L226.397 183.565L221.395 144.405L213.312 146.96L208.609 175.904L186.577 171.895L197.33 91.1012L221.3 97.7537L217.342 122.478L231.82 117.898L235.163 101.493L256.955 108.269L250.225 135.376Z"
            fill="currentColor"></path>
          <path
            d="M292.926 140.348L296.512 147.245L296.336 166.636L291.925 170.271L259.413 170.293L256.635 165.118L257.771 152.448L269.982 152.598L271.064 158.423L281.924 158.308L282.143 150.069L260.163 147.622L256.93 144.268L256.928 122.378L259.646 119.332L285.686 118.279L294.881 120.762L295.717 133.124L293.123 135.193L283.19 135.582L281.33 130.28L271.901 130.91L271.239 138.438L292.926 140.348Z"
            fill="currentColor"></path>
          <path
            d="M260.46 99.7941L293.885 100.634L294.005 113.402L260.01 112.893L260.46 99.7941Z"
            fill="currentColor"></path>
          <path
            d="M157.187 61.3791L177.634 62.4954L177.176 86.9908L174.19 91.9547L139.753 90.755L134.72 87.7042L135.932 36.999L138.481 33.7423L174.537 34.8055L179.073 38.6248L177.503 54.7216L163.225 54.0408L162.395 46.3807L151.687 46.371L151.122 78.9985L161.489 80.1378L162.008 73.3334L156.836 72.5789L157.187 61.3791Z"
            fill="currentColor"></path>
          <path
            d="M208.441 23.8254L224.198 25.3073L222.368 76.307L209.784 75.0601L196.72 47.9215L195.837 71.9329L181.768 71.3271L181.979 19.6546L197.175 21.7166L208.389 44.9527L208.441 23.8254Z"
            fill="currentColor"></path>
          <path
            d="M80.2059 62.268L75.2497 62.7925L82.1279 75.9994L80.55 79.1185L65.8588 82.7254L54.9662 63.9794L50.2743 64.1319L49.6521 80.7877L30.2417 82.2512L29.208 8.69727L79.417 11.9222L83.2002 15.5308L83.8697 56.1334L80.2059 62.268ZM63.5278 46.7222L63.3401 26.1008L50.6814 24.8383L50.5221 47.5628L63.5278 46.7222Z"
            fill="currentColor"></path>
          <path
            d="M129.676 41.523L128.87 85.5749L114.147 81.5045L114.382 65.9801L103.093 63.2923L101.349 77.4328L87.6775 73.6871L91.7946 28.9187L94.6793 26.8112L125.588 34.6912L129.676 41.523ZM114.697 56.551L114.866 44.1387L105.506 42.0796L104.324 52.8847L114.697 56.551Z"
            fill="currentColor"></path>
          <path
            d="M281.972 18.3677L286.757 22.8653L287.184 82.1762L283.598 88.3695L238.617 88.209L231.945 84.7145L230.265 22.5212L233.389 18.1705L281.972 18.3677ZM251.491 32.795L252.861 73.3307L266.41 74.2493L265.835 34.0016L251.491 32.795Z"
            fill="currentColor"></path>
          <path
            d="M183.639 74.6642L220.706 79.7651L220.819 90.121L183.128 85.2114L183.639 74.6642Z"
            fill="currentColor"></path>
        </svg>
      </div>

      <div class="space-y-10">
        <div class="">
          <h2 class="text-lg font-bold tracking-wide uppercase md:text-2xl">
            September 28-29 • Ottawa
          </h2>
          <p class="text-xs md:text-lg">
            Ottawa's first in-person high school hackathon
          </p>
        </div>
        <button
          class="px-12 py-2 text-2xl font-bold text-white uppercase rounded-full md:py-3 md:px-16 bg-dino-teal transition-transform hover:scale-110"
        >
          Register now!
        </button>
      </div>
    </div>

    <div class="hidden py-6 md:block">
      <img src="/hero/dino.png" alt="Ragnohacks Dino" class="w-full" />
    </div>
  </div>
  <div class="absolute bottom-0 left-0 right-0 top-16 md:top-20 -z-10">
    <div class="flex justify-center w-full h-full">
      <div
        class="grid w-full h-full max-w-md grid-cols-1 grid-rows-4 gap-5 py-6 pt-10 mx-4 md:max-w-6xl md:pt-6 md:grid-rows-2 md:grid-cols-3"
      >
        <div class="w-full h-full bg-gray-200 md:col-span-2 rounded-3xl"></div>
        <div class="row-span-2 bg-gray-200 md:row-span-2 rounded-3xl"></div>
      </div>
    </div>
  </div>
</section>
