---

---

<div>
  <div class="bg-dino-neon-orange text-center py-2">
    <h1 class="text-6xl font-bold text-white scrolling-text inline-block">
      HOW WILL IT WORK?
    </h1>
  </div>
  <!-- <div class="flex flex-col p-5 gap-5 font-adumu">
        <div class="flex flex-col md:flex-row gap-5">
            <div class="flex-1">
                <img
                    src="/squares/image.png"
                    alt="75+ Hackers"
                    class=""
                />
            </div>
            <div class="flex-1">
                <img
                    src="/squares/image2.png"
                    alt="Diefen Bunker"
                    class=""
                />
            </div>
        </div>
        <div class="flex flex-col md:flex-row gap-5">
            <div class="flex-1">
                <img
                    src="/squares/image3.png"
                    alt="Natural Disasters"
                    class=""http://localhost:4321/squares/image.png
                />
            </div>
            <div class="flex-1">
                <img
                    src="/squares/image4.png"
                    alt="35+ Countries"
                    class=""
                />
            </div>
        </div>
    </div> -->

  <div class="hidden sm:flex flex-col flex-wrap h-auto w-screen p-5 overflow-clip">
    <img src="/squares/image.png" alt="" />
  </div>

  <div class="sm:hidden flex flex-col p-5 max-w-full items-center overflow-clip">
    <svg
      width="371"
      height="159"
      viewBox="0 0 371 159"
      fill="none"
      class="max-w-full"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M66.9066 21.0772L68.3661 31.0567L46.5444 77.762L34.7217 74.7386L33.8134 71.3283L50.2994 34.4061L30.4217 34.7157L29.6831 22.2693L66.9066 21.0772ZM107.319 43.4089L110.76 50.893L111.035 71.6821L106.844 75.6978L74.1022 76.9286L71.9609 71.3756L72.8346 59.0327L85.1515 58.7541L86.2991 63.6294L96.6522 63.1852L96.6861 54.3622L74.9427 52.4034L71.6522 48.9069L71.3815 21.3261L108.951 19.9161L108.929 32.8699L85.852 34.2321L85.9372 42.0021L107.319 43.4089ZM134.717 45.87L143.679 45.8773L143.891 56.5152L134.722 56.6526L134.758 65.474L124.121 65.7146L124.012 56.7548L115.053 56.8875L115.325 45.9586L123.937 45.9738L123.826 36.944L134.683 37.1886L134.717 45.87Z"
        fill="#FDA747"></path>
      <path
        d="M48.2532 83.96L63.4469 84.2251L63.2034 139.811L48.3597 139.542L48.3368 117.841L38.4635 117.591L38.3479 139.434L23.3062 140.287L23.1252 84.286L38.7344 84.127L38.6113 105.269L48.2738 105.451L48.2532 83.96ZM93.0275 139.577L92.4928 122.361L81.5763 122.752L80.9144 139.35L66.8481 139.773L68.4666 88.3742L71.1612 85.0566L101.665 83.4157L106.003 89.6718L107.584 139.148L93.0275 139.577ZM82.0093 110.917L92.1663 111.514L91.7369 97.5876L82.5056 98.4517L82.0093 110.917ZM136.376 121.774L149.405 122.551L149.875 133.747L147.339 138.813L115.773 139.345L111.056 136.873L110.181 87.9491L112.232 83.308L145.834 83.3856L150.074 87.0526L149.256 102.182L136.027 102.317L134.76 95.1891L124.956 94.869L125.864 127.271L135.251 127.876L136.376 121.774ZM192.055 102.306L186.005 106.077L193.842 131.899L192.759 135.34L180.057 138.9L173.28 114.048L168.551 117.036L168.07 137.412L153.456 138.961L153.273 82.8198L169.442 82.655L168.999 100.02L178.036 94.1181L178.683 82.6309L194.016 82.8946L192.055 102.306ZM230.723 125.503L231.067 138.03L197.749 138.369L197.148 82.3727L229.847 83.0896L229.845 95.9002L211.364 95.8786L211.447 103.648L223.282 104.018L223.406 115.567L211.711 115.196L211.742 124.646L230.723 125.503ZM270.765 122.155L267.267 122.4L272.276 132.5L271.111 134.892L260.013 137.875L252.018 123.536L248.871 123.778L248.799 136.659L234.182 137.928L233.581 81.9315L270.277 83.2376L273.036 85.9396L273.443 117.367L270.765 122.155ZM258.5 94.7682L249.251 94.0224L249.086 111.245L258.598 110.448L258.5 94.7682ZM312.267 104.861L315.776 112.175L315.509 132.969L311.142 136.934L279.086 137.541L276.367 132.038L277.551 118.445L290.011 118.388L290.988 124.609L301.345 124.293L301.601 115.47L279.946 113.241L276.757 109.703L276.856 86.2507L279.55 82.9331L305.225 81.3414L314.282 83.8392L315.054 97.0621L312.488 99.3283L302.694 99.9182L300.883 94.2663L291.582 95.1311L290.898 103.189L312.267 104.861Z"
        fill="#FDA747"></path>
      <path
        d="M3.5 20C3.5 10.8873 10.8873 3.5 20 3.5H276.546C282.62 3.5 288.202 6.83662 291.079 12.1859L351.881 125.264C357.732 136.145 349.99 149.359 337.638 149.576L20.2894 155.144C11.0649 155.305 3.5 147.872 3.5 138.646V20Z"
        stroke="#FDA747"
        stroke-width="7"></path>
    </svg>
    <svg
      width="375"
      height="114"
      viewBox="0 0 375 114"
      fill="none"
      class="max-w-full"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M73.4088 32.4575L76.9913 36.9475L76.9553 62.7812L73.5571 66.9743L51.7427 67.8073L51.4356 31.8077L73.4088 32.4575ZM61.3832 59.962L67.7536 58.6932L67.7358 40.7363L61.1435 39.3983L61.3832 59.962ZM79.2108 31.6925L88.8346 31.2285L88.7244 66.4694L79.5128 67.3772L79.2108 31.6925ZM112.573 58.7641L112.837 66.816L91.4198 67.1477L90.8428 31.1523L111.866 31.5018L111.908 39.7372L100.027 39.7861L100.107 44.7805L107.717 44.9777L107.836 52.4017L100.316 52.2032L100.369 58.2781L112.573 58.7641ZM135.327 39.2844L123.805 39.2829L123.887 44.4122L131.137 44.615L131.303 52.1733L123.964 52.0169L124.102 66.2365L114.841 66.83L114.263 30.7896L135.331 31.1384L135.327 39.2844ZM159.062 58.0441L159.326 66.096L137.908 66.4277L137.331 30.4323L158.355 30.7818L158.397 39.0171L146.516 39.0661L146.596 44.0605L154.205 44.2577L154.324 51.6817L146.805 51.4831L146.857 57.5581L159.062 58.0441ZM177.947 30.2983L187.839 29.6951L187.782 65.4302L178.967 65.8368L170.795 50.1665L170.809 65.063L161.329 66.11L160.977 30.1111L170.696 29.9606L178.093 45.0128L177.947 30.2983ZM213.439 47.4807L215.458 49.9248L215.385 62.2124L212.232 64.8265L190.417 65.6594L190.155 29.6592L211.006 30.4614L213.939 33.7464L214.673 45.8414L213.439 47.4807ZM205.735 44.1796L205.357 37.4347L199.178 36.5853L199.385 43.918L205.735 44.1796ZM206.247 50.8325L199.624 50.395L199.704 58.2247L206.121 57.0452L206.247 50.8325ZM234.684 29.1945L242.464 28.849L242.537 61.4768L240.924 64.6972L220.993 65.1409L217.996 63.4771L216.905 29.1099L224.644 28.99L226.379 30.5383L227.336 56.4916L233.236 56.8053L233.092 30.9294L234.684 29.1945ZM261.697 29.0012L271.589 28.3979L271.531 64.1331L262.717 64.5397L254.545 48.8693L254.558 63.7659L245.079 64.8128L244.727 28.814L254.446 28.6634L261.843 43.7157L261.697 29.0012ZM298.856 40.7121L294.98 43.1575L300.106 59.7301L299.422 61.9459L291.268 64.2775L286.827 48.3243L283.797 50.2615L283.557 63.3618L274.168 64.4073L273.859 28.3178L284.253 28.1568L284.027 39.3216L289.817 35.4965L290.193 28.1098L300.051 28.2271L298.856 40.7121ZM323.793 55.4927L324.057 63.5446L302.64 63.8763L302.063 27.8809L323.086 28.2304L323.128 36.4657L311.247 36.5147L311.327 41.5091L318.936 41.7063L319.055 49.1303L311.536 48.9318L311.589 55.0067L323.793 55.4927ZM349.522 53.204L347.275 53.3738L350.529 59.8492L349.789 61.3909L342.664 63.3464L337.476 54.1557L335.454 54.322L335.451 62.603L326.059 63.4686L325.482 27.4732L349.076 28.1879L350.859 29.9155L351.228 50.1172L349.522 53.204ZM341.545 35.6404L335.597 35.1925L335.549 46.2646L341.661 45.7198L341.545 35.6404Z"
        fill="#FDA747"></path>
      <path
        d="M17.0284 31.234C11.3826 20.3197 19.2206 7.2848 31.508 7.15391L354.324 3.71512C363.505 3.61732 371 11.0328 371 20.2142V90.3235C371 99.4362 363.613 106.824 354.5 106.824H66.1717C60.0035 106.824 54.3504 103.383 51.5164 97.9046L17.0284 31.234Z"
        stroke="#FDA747"
        stroke-width="7"></path>
      <path
        d="M109.515 73.4572L109.945 93.0889L105.794 93.1798L105.451 77.4879L105.336 77.4904L100.902 80.407L100.821 76.7261L105.614 73.5427L109.515 73.4572ZM114.611 92.9868L114.545 89.996L121.392 83.3726C121.973 82.7844 122.461 82.2559 122.853 81.787C123.252 81.3179 123.552 80.8606 123.753 80.415C123.954 79.9631 124.049 79.4783 124.038 78.9606C124.025 78.3855 123.884 77.8931 123.612 77.4834C123.341 77.0674 122.976 76.7525 122.518 76.5388C122.059 76.3187 121.542 76.2149 120.967 76.2275C120.366 76.2406 119.845 76.3735 119.403 76.6262C118.961 76.8788 118.623 77.2346 118.39 77.6937C118.157 78.1527 118.048 78.6954 118.061 79.3217L114.122 79.4079C114.094 78.1234 114.36 77.0019 114.921 76.0434C115.482 75.0848 116.28 74.3353 117.317 73.7947C118.354 73.2541 119.556 72.9689 120.923 72.9389C122.329 72.9082 123.559 73.1306 124.611 73.6062C125.67 74.0754 126.5 74.7413 127.101 75.6041C127.701 76.4668 128.014 77.4638 128.039 78.5949C128.055 79.3362 127.924 80.0711 127.646 80.7997C127.374 81.5281 126.877 82.3414 126.155 83.2395C125.433 84.1313 124.411 85.2054 123.09 86.4619L120.285 89.3333L120.288 89.4675L128.532 89.287L128.606 92.6803L114.611 92.9868ZM138.876 92.724C137.444 92.7553 136.164 92.5372 135.035 92.0696C133.912 91.5955 133.018 90.931 132.354 90.076C131.696 89.2145 131.345 88.212 131.3 87.0685L135.48 86.977C135.516 87.4557 135.682 87.8741 135.977 88.232C136.279 88.5835 136.675 88.8529 137.165 89.0404C137.655 89.2279 138.203 89.315 138.811 89.3017C139.443 89.2878 140 89.1637 140.481 88.9294C140.961 88.6951 141.335 88.3769 141.601 87.9746C141.867 87.5724 141.995 87.1125 141.983 86.5949C141.972 86.0708 141.815 85.6107 141.512 85.2146C141.215 84.8119 140.793 84.5014 140.245 84.2833C139.703 84.065 139.061 83.9639 138.32 83.9802L136.489 84.0203L136.422 80.972L138.253 80.9319C138.88 80.9182 139.43 80.7974 139.904 80.5697C140.385 80.3418 140.756 80.0331 141.016 79.6438C141.276 79.2481 141.4 78.7915 141.389 78.2738C141.378 77.7818 141.25 77.353 141.006 76.9875C140.767 76.6155 140.435 76.3287 140.009 76.1271C139.589 75.9253 139.101 75.8304 138.545 75.8426C137.982 75.8549 137.47 75.9684 137.008 76.1832C136.546 76.3915 136.178 76.684 135.905 77.0608C135.632 77.4377 135.491 77.8755 135.483 78.3744L131.505 78.4615C131.5 77.3299 131.8 76.3259 132.408 75.4495C133.015 74.5731 133.844 73.8804 134.894 73.3715C135.951 72.8561 137.15 72.5837 138.492 72.5543C139.847 72.5246 141.037 72.7447 142.064 73.2145C143.091 73.6843 143.895 74.3317 144.476 75.1565C145.063 75.9748 145.364 76.9017 145.38 77.9371C145.411 79.0361 145.089 79.9607 144.415 80.7107C143.747 81.4606 142.866 81.9466 141.771 82.1688L141.775 82.3221C143.223 82.4758 144.333 82.9534 145.105 83.7549C145.883 84.5498 146.283 85.5577 146.303 86.7784C146.334 87.8966 146.033 88.8974 145.4 89.7808C144.774 90.664 143.897 91.3673 142.771 91.8907C141.644 92.4141 140.346 92.6918 138.876 92.724ZM167.713 81.2939L163.98 81.6058C163.909 81.2877 163.765 81.0031 163.549 80.7521C163.332 80.4947 163.05 80.2931 162.701 80.1473C162.359 79.9949 161.951 79.9239 161.478 79.9343C160.846 79.9481 160.315 80.094 159.886 80.3719C159.458 80.6435 159.248 80.9997 159.258 81.4406C159.265 81.7921 159.413 82.0862 159.699 82.3229C159.986 82.5596 160.472 82.7439 161.159 82.8759L163.836 83.3544C165.274 83.617 166.351 84.0665 167.069 84.703C167.786 85.3394 168.156 86.188 168.179 87.2489C168.2 88.2138 167.935 89.0668 167.382 89.8078C166.835 90.5486 166.075 91.1343 165.099 91.5648C164.13 91.9888 163.007 92.2148 161.729 92.2428C159.78 92.2855 158.218 91.9137 157.043 91.1274C155.875 90.3346 155.177 89.2374 154.948 87.8359L158.96 87.537C159.094 88.1287 159.398 88.576 159.871 88.8789C160.345 89.1754 160.945 89.3157 161.674 89.2998C162.39 89.2841 162.962 89.1341 163.39 88.8498C163.825 88.559 164.041 88.193 164.038 87.7519C164.023 87.3814 163.86 87.0813 163.548 86.8516C163.236 86.6154 162.759 86.4405 162.117 86.3267L159.556 85.8744C158.112 85.6183 157.031 85.1433 156.312 84.4494C155.6 83.7553 155.232 82.8586 155.208 81.7595C155.187 80.8137 155.425 79.9933 155.921 79.2983C156.424 78.6032 157.138 78.0601 158.063 77.669C158.994 77.2778 160.089 77.0684 161.348 77.0408C163.208 77.0001 164.68 77.3611 165.764 78.1238C166.855 78.8863 167.505 79.943 167.713 81.2939ZM177.509 91.8973C176.02 91.9299 174.726 91.6418 173.626 91.0329C172.532 90.4175 171.678 89.5475 171.065 88.4228C170.452 87.2918 170.129 85.9722 170.096 84.4641C170.063 82.9431 170.328 81.6074 170.891 80.4571C171.454 79.3003 172.268 78.3937 173.334 77.7374C174.407 77.0746 175.688 76.7269 177.176 76.6943C178.665 76.6617 179.957 76.9531 181.051 77.5685C182.151 78.1774 183.008 79.0473 183.621 80.1783C184.234 81.303 184.557 82.6258 184.59 84.1467C184.623 85.6549 184.358 86.9873 183.795 88.1441C183.232 89.2945 182.414 90.2011 181.342 90.864C180.276 91.5203 178.998 91.8647 177.509 91.8973ZM177.459 88.7336C178.137 88.7188 178.698 88.5147 179.143 88.1213C179.589 87.7215 179.919 87.1836 180.134 86.5076C180.356 85.8314 180.457 85.0652 180.439 84.2088C180.42 83.3525 180.285 82.5914 180.034 81.9256C179.789 81.2596 179.436 80.7367 178.973 80.3568C178.511 79.9769 177.941 79.7944 177.264 79.8092C176.58 79.8242 176.009 80.0317 175.551 80.4317C175.1 80.8316 174.763 81.3697 174.541 82.0459C174.326 82.7219 174.228 83.4881 174.246 84.3444C174.265 85.2007 174.397 85.9619 174.642 86.6279C174.893 87.2937 175.253 87.8165 175.721 88.1962C176.196 88.5694 176.775 88.7486 177.459 88.7336ZM187.405 91.3929L187.083 76.6692L190.975 76.584L191.032 79.1817L191.204 79.1779C191.492 78.3085 191.988 77.6167 192.693 77.1026C193.398 76.5885 194.249 76.3205 195.246 76.2987C196.255 76.2766 197.12 76.5102 197.841 76.9995C198.561 77.4824 199.049 78.1495 199.304 79.0006L199.457 78.9972C199.739 78.1471 200.268 77.461 201.043 76.939C201.824 76.4104 202.755 76.1343 203.835 76.1106C205.208 76.0805 206.333 76.4939 207.209 77.3506C208.09 78.2008 208.549 79.4248 208.584 81.0224L208.801 90.9245L204.727 91.0137L204.527 81.9168C204.51 81.0988 204.279 80.4901 203.835 80.0906C203.392 79.6911 202.844 79.4985 202.192 79.5128C201.451 79.529 200.878 79.7781 200.473 80.2601C200.068 80.7357 199.873 81.357 199.89 82.1238L200.087 91.1153L196.128 91.202L195.927 82.0188C195.911 81.2967 195.691 80.7261 195.266 80.307C194.848 79.8878 194.303 79.6855 193.632 79.7002C193.179 79.7101 192.772 79.8341 192.413 80.0722C192.06 80.3037 191.782 80.6262 191.58 81.0398C191.378 81.447 191.283 81.9223 191.295 82.4654L191.489 91.3035L187.405 91.3929ZM218.743 90.9945C217.228 91.0277 215.918 90.7495 214.811 90.1599C213.711 89.5638 212.855 88.7067 212.242 87.5884C211.63 86.4638 211.306 85.125 211.272 83.5721C211.239 82.0576 211.504 80.7219 212.067 79.5651C212.63 78.4083 213.438 77.4987 214.491 76.8363C215.551 76.1738 216.802 75.8267 218.247 75.7951C219.218 75.7738 220.126 75.9106 220.97 76.2054C221.82 76.4936 222.565 76.9409 223.205 77.547C223.851 78.1531 224.36 78.9219 224.732 79.8536C225.104 80.779 225.304 81.8679 225.331 83.1204L225.356 84.242L212.923 84.5142L212.868 81.9835L221.457 81.7955C221.444 81.2076 221.305 80.6895 221.039 80.2414C220.773 79.7933 220.411 79.4464 219.952 79.2007C219.499 78.9485 218.975 78.8289 218.381 78.8419C217.761 78.8554 217.214 79.0113 216.741 79.3093C216.275 79.6009 215.912 79.9892 215.654 80.4744C215.396 80.9532 215.27 81.4834 215.277 82.0651L215.329 84.4711C215.345 85.1996 215.493 85.8261 215.773 86.3507C216.06 86.8751 216.455 87.2756 216.96 87.5522C217.465 87.8289 218.059 87.9598 218.743 87.9448C219.197 87.9348 219.611 87.8618 219.985 87.7258C220.359 87.5897 220.678 87.3909 220.94 87.1294C221.203 86.8679 221.401 86.5503 221.533 86.1766L225.316 86.3431C225.144 87.2548 224.768 88.0558 224.189 88.7462C223.615 89.4301 222.866 89.9708 221.942 90.3682C221.023 90.7592 219.957 90.9679 218.743 90.9945ZM230.958 90.4394L226.629 75.8033L230.76 75.7129L233.258 85.5554L233.393 85.5525L235.553 75.6079L239.608 75.5192L242.239 85.3013L242.364 85.2986L244.391 75.4144L248.513 75.3242L244.838 90.1355L240.515 90.2301L237.782 81.0257L237.6 81.0296L235.272 90.3449L230.958 90.4394ZM254.911 81.3987L255.097 89.9108L251.014 90.0002L250.584 70.3686L254.553 70.2817L254.717 77.7874L254.89 77.7836C255.203 76.9072 255.725 76.2148 256.455 75.7065C257.186 75.1919 258.11 74.9223 259.228 74.8978C260.251 74.8754 261.147 75.0795 261.917 75.5102C262.694 75.9344 263.302 76.5572 263.742 77.3788C264.188 78.1938 264.421 79.1765 264.44 80.3269L264.645 89.7018L260.561 89.7912L260.372 81.1448C260.359 80.2372 260.113 79.5361 259.636 79.0415C259.164 78.5467 258.513 78.3084 257.683 78.3266C257.127 78.3388 256.637 78.4678 256.214 78.7136C255.798 78.9593 255.473 79.3117 255.24 79.7707C255.013 80.2232 254.904 80.7659 254.911 81.3987ZM274.575 89.7721C273.06 89.8053 271.75 89.5271 270.644 88.9375C269.544 88.3414 268.687 87.4842 268.075 86.366C267.462 85.2413 267.139 83.9026 267.105 82.3497C267.071 80.8351 267.336 79.4995 267.899 78.3427C268.462 77.1859 269.27 76.2763 270.323 75.6139C271.383 74.9513 272.635 74.6042 274.079 74.5726C275.05 74.5514 275.958 74.6881 276.802 74.9829C277.652 75.2712 278.397 75.7184 279.037 76.3246C279.684 76.9306 280.193 77.6995 280.565 78.6312C280.937 79.5565 281.136 80.6455 281.164 81.898L281.188 83.0195L268.756 83.2917L268.7 80.7611L277.289 80.573C277.276 79.9851 277.137 79.4671 276.871 79.019C276.606 78.5708 276.243 78.2239 275.784 77.9782C275.331 77.726 274.807 77.6064 274.213 77.6194C273.593 77.633 273.047 77.7888 272.574 78.0869C272.107 78.3784 271.745 78.7668 271.487 79.2519C271.229 79.7307 271.103 80.2609 271.109 80.8426L271.162 83.2486C271.178 83.9772 271.326 84.6037 271.606 85.1282C271.892 85.6526 272.288 86.0532 272.792 86.3298C273.297 86.6065 273.891 86.7373 274.575 86.7223C275.029 86.7124 275.443 86.6394 275.817 86.5033C276.191 86.3673 276.51 86.1685 276.773 85.907C277.036 85.6455 277.233 85.3279 277.366 84.9542L281.148 85.1207C280.976 86.0324 280.6 86.8334 280.021 87.5238C279.448 88.2077 278.699 88.7483 277.774 89.1458C276.855 89.5367 275.789 89.7455 274.575 89.7721ZM283.991 89.2782L283.669 74.5545L287.628 74.4678L287.684 77.0368L287.838 77.0334C288.086 76.1137 288.521 75.4137 289.144 74.9333C289.766 74.4465 290.489 74.1941 291.314 74.1761C291.518 74.1716 291.739 74.1796 291.976 74.2C292.213 74.2203 292.422 74.2509 292.602 74.2918L292.681 77.9152C292.488 77.8619 292.222 77.8165 291.882 77.7792C291.542 77.7419 291.232 77.7263 290.951 77.7325C290.35 77.7456 289.816 77.8884 289.349 78.1608C288.888 78.4266 288.525 78.7926 288.26 79.2587C288.002 79.7247 287.879 80.2581 287.893 80.8588L288.075 89.1888L283.991 89.2782ZM301.068 89.192C299.553 89.2252 298.243 88.947 297.136 88.3574C296.036 87.7613 295.18 86.9042 294.567 85.7859C293.955 84.6613 293.631 83.3225 293.597 81.7696C293.564 80.2551 293.829 78.9194 294.392 77.7626C294.955 76.6059 295.763 75.6963 296.816 75.0338C297.876 74.3713 299.127 74.0242 300.572 73.9926C301.543 73.9713 302.451 74.1081 303.295 74.4029C304.145 74.6912 304.89 75.1384 305.53 75.7445C306.176 76.3506 306.685 77.1194 307.057 78.0512C307.429 78.9765 307.629 80.0654 307.656 81.3179L307.681 82.4395L295.248 82.7117L295.193 80.181L303.782 79.993C303.769 79.4051 303.63 78.887 303.364 78.4389C303.098 77.9908 302.736 77.6439 302.277 77.3982C301.824 77.146 301.3 77.0264 300.706 77.0394C300.086 77.053 299.539 77.2088 299.066 77.5068C298.6 77.7984 298.237 78.1867 297.979 78.6719C297.721 79.1507 297.595 79.6809 297.602 80.2626L297.654 82.6686C297.67 83.3971 297.818 84.0236 298.098 84.5482C298.385 85.0726 298.78 85.4731 299.285 85.7498C299.79 86.0264 300.384 86.1573 301.068 86.1423C301.522 86.1324 301.936 86.0594 302.31 85.9233C302.684 85.7872 303.003 85.5885 303.265 85.327C303.528 85.0655 303.726 84.7478 303.858 84.3741L307.641 84.5407C307.469 85.4523 307.093 86.2533 306.514 86.9437C305.94 87.6276 305.191 88.1683 304.267 88.5658C303.348 88.9567 302.282 89.1655 301.068 89.192ZM328.752 77.768L325.018 78.0799C324.947 77.7618 324.804 77.4772 324.587 77.2262C324.371 76.9688 324.088 76.7672 323.74 76.6214C323.397 76.469 322.99 76.398 322.517 76.4084C321.884 76.4222 321.354 76.5681 320.925 76.846C320.496 77.1176 320.287 77.4738 320.296 77.9147C320.304 78.2662 320.451 78.5603 320.738 78.797C321.024 79.0337 321.511 79.218 322.198 79.35L324.874 79.8285C326.312 80.0911 327.39 80.5406 328.107 81.1771C328.824 81.8135 329.195 82.6621 329.218 83.723C329.239 84.6879 328.973 85.5409 328.42 86.2819C327.874 87.0227 327.113 87.6084 326.138 88.0389C325.169 88.4629 324.045 88.6889 322.767 88.7169C320.818 88.7596 319.256 88.3878 318.082 87.6015C316.914 86.8087 316.215 85.7115 315.986 84.31L319.998 84.0111C320.133 84.6028 320.437 85.0501 320.91 85.353C321.383 85.6495 321.984 85.7898 322.713 85.7739C323.428 85.7582 324 85.6082 324.429 85.3239C324.864 85.0331 325.079 84.6671 325.076 84.226C325.062 83.8555 324.898 83.5554 324.587 83.3257C324.275 83.0896 323.798 82.9146 323.156 82.8008L320.595 82.3485C319.151 82.0925 318.069 81.6174 317.351 80.9235C316.639 80.2294 316.271 79.3327 316.247 78.2336C316.226 77.2878 316.464 76.4674 316.96 75.7724C317.463 75.0773 318.176 74.5342 319.101 74.1431C320.033 73.7519 321.128 73.5425 322.387 73.5149C324.246 73.4742 325.718 73.8352 326.803 74.5979C327.893 75.3604 328.543 76.4171 328.752 77.768ZM339.398 73.3343L339.465 76.4017L330.599 76.5959L330.531 73.5284L339.398 73.3343ZM332.467 69.9568L336.551 69.8674L336.851 83.5942C336.86 83.9712 336.924 84.2639 337.043 84.4723C337.163 84.6743 337.326 84.8146 337.532 84.8932C337.745 84.9716 337.988 85.0079 338.263 85.0018C338.455 84.9976 338.646 84.9775 338.837 84.9413C339.028 84.8988 339.174 84.8668 339.276 84.8454L339.985 87.87C339.782 87.9384 339.496 88.0182 339.127 88.1094C338.759 88.207 338.309 88.2712 337.779 88.3019C336.796 88.3618 335.93 88.2497 335.182 87.9656C334.441 87.6813 333.859 87.2273 333.436 86.6036C333.013 85.9799 332.794 85.1855 332.78 84.2204L332.467 69.9568ZM342.381 87.9998L342.058 73.276L346.017 73.1894L346.074 75.7584L346.227 75.755C346.475 74.8353 346.911 74.1352 347.533 73.6549C348.155 73.1681 348.879 72.9157 349.703 72.8977C349.908 72.8932 350.128 72.9011 350.365 72.9215C350.602 72.9419 350.811 72.9725 350.991 73.0133L351.07 76.6368C350.877 76.5834 350.611 76.5381 350.271 76.5008C349.932 76.4635 349.621 76.4479 349.34 76.4541C348.739 76.4672 348.205 76.61 347.738 76.8823C347.277 77.1482 346.914 77.5142 346.65 77.9803C346.391 78.4463 346.269 78.9796 346.282 79.5803L346.464 87.9104L342.381 87.9998Z"
        fill="#FDA747"></path>
    </svg>

    <svg
      width="360"
      height="90"
      viewBox="0 0 360 90"
      fill="none"
      class="max-w-full"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M44.7443 36.252L45.0738 46.6471L43.1198 49.8854L45.3431 53.4818L45.6217 63.5986L44.3235 66.2109L25.0134 66.8413L23.4611 64.0194L23.1518 57.1863L24.4094 55.5762L30.9644 55.3215L31.5578 60.2221L37.0595 59.6481L37.0662 53.7233L30.4891 53.4185L30.4191 47.5768L36.4898 47.2208L36.5522 41.6942L30.7377 41.4398L30.465 45.6936L22.8707 45.9887L21.9615 37.1374L24.2762 34.9258L43.3865 34.3033L44.7443 36.252ZM67.4978 46.5762L69.5465 50.8199L69.9343 62.6938L67.5843 65.0268L48.8895 66.0335L47.6043 62.881L47.9667 55.8216L55.0014 55.5483L55.7112 58.3228L61.622 57.973L61.5434 52.9323L49.0977 52.0149L47.1787 50.0479L46.7181 34.2939L68.1693 33.14L68.3008 40.5405L55.1296 41.5327L55.2645 45.9708L67.4978 46.5762ZM83.1797 47.7282L88.3006 47.6493L88.5399 53.7245L83.3023 53.888L83.4208 58.9272L77.3454 59.1633L77.1838 54.0458L72.0661 54.2046L72.1002 47.9586L77.0212 47.8874L76.858 42.7299L83.0643 42.7689L83.1797 47.7282ZM117.712 53.4715L125.167 53.7022L125.619 60.0895L124.254 63.0247L106.232 63.8452L103.497 62.5104L102.196 34.5798L103.292 31.8953L122.487 31.3895L124.968 33.4147L124.749 42.0697L117.195 42.3633L116.354 38.3128L110.749 38.2905L111.798 56.7837L117.17 56.9753L117.712 53.4715ZM147.348 30.1832L149.307 32.1486L150.091 59.1785L148.724 62.0738L130.783 62.8911L128.083 61.4348L126.767 33.1046L127.967 31.0564L147.348 30.1832ZM135.342 37.3748L136.309 55.8312L141.719 55.9812L141.076 37.6323L135.342 37.3748ZM166.797 29.6275L173.704 29.159L174.446 58.152L173.079 61.0473L155.377 61.8553L152.679 60.439L150.996 29.9213L157.871 29.6542L159.445 30.9941L160.833 54.0375L166.084 54.1938L165.418 31.2023L166.797 29.6275ZM190.798 28.895L199.575 28.1536L200.266 59.9107L192.442 60.455L184.854 46.6992L185.176 59.9367L176.774 61.0638L175.713 29.0809L184.347 28.7454L191.233 41.968L190.798 28.895ZM201.35 28.0046L223.813 27.1316L223.761 34.9396L217.417 35.4663L217.449 58.6425L209.247 59.7619L208.502 35.7727L201.694 35.717L201.35 28.0046ZM247.488 49.4291L245.494 49.6267L248.52 55.3135L247.894 56.6988L241.603 58.5845L236.802 50.5249L235.008 50.7147L235.178 58.0736L226.85 59.0378L225.59 27.0626L246.572 27.2079L248.192 28.7062L248.939 46.6507L247.488 49.4291ZM240.034 33.9869L234.739 33.7123L234.926 43.5525L240.347 42.9415L240.034 33.9869ZM250.161 26.468L258.704 25.8558L259.338 57.1748L251.171 58.1727L250.161 26.468ZM280.371 49.8325L280.773 56.9823L261.747 57.7217L260.487 25.7465L279.177 25.6207L279.385 32.9381L268.828 33.2282L269.003 37.6648L275.769 37.6821L276.029 44.277L269.343 44.2566L269.515 49.6539L280.371 49.8325ZM302.488 37.6445L304.612 41.7651L304.8 53.6468L302.37 55.9829L284.07 56.8542L282.427 53.7557L282.881 45.9722L289.997 45.7356L290.657 49.2727L296.568 48.9229L296.569 43.879L284.163 42.9601L282.284 40.9916L281.957 27.5942L283.442 25.6551L298.081 24.3256L303.295 25.6041L303.952 33.1443L302.524 34.4807L296.939 34.978L295.812 31.7793L290.514 32.4256L290.255 37.0391L302.488 37.6445Z"
        fill="#FDA747"></path>
      <path
        d="M8.851 70.3759C9.60847 79.0908 17.0357 85.6999 25.7796 85.4399L320.302 76.6793C333.833 76.2768 341.149 60.6491 332.791 49.9998L301.484 10.1079C298.248 5.98505 293.246 3.64456 288.008 3.80212L21.2616 11.8247C11.7861 12.1097 4.49876 20.3018 5.31961 29.746L8.851 70.3759Z"
        stroke="#FDA747"
        stroke-width="7"></path>
    </svg>

    <div class="flex flex-row">
      <svg
        width="199"
        height="116"
        viewBox="0 0 199 116"
        fill="none"
        class="max-w-full"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M42.3828 22.3113L50.1686 22.1223L49.5852 54.745L47.9072 57.9323L27.9718 57.9749L25.0089 56.2512L24.6094 21.869L32.3493 21.9048L34.0529 23.4877L34.4867 49.455L40.38 49.8873L40.7558 24.0138L42.3828 22.3113ZM69.3942 22.6614L79.296 22.2572L78.5199 57.984L69.6989 58.2132L61.8435 42.3816L61.5576 57.2755L52.0591 58.1315L52.4312 22.1328L62.1511 22.1778L69.2441 37.3758L69.3942 22.6614ZM81.5664 22.5827L91.1976 22.3123L90.3786 57.5439L81.1505 58.2662L81.5664 22.5827ZM118.532 24.7339L118.093 55.1972L116.419 57.3495L117.984 59.6968L110.861 62.9488L105.975 58.2462L96.2546 58.3361L93.2916 56.6124L93.1967 24.7966L94.6008 22.5531L116.427 22.4292L118.532 24.7339ZM109.013 30.5849L102.576 31.0051L102.766 50.7162L108.884 51.1495L109.013 30.5849ZM138.314 22.7555L146.1 22.5666L145.517 55.1892L143.839 58.3765L123.903 58.4192L120.94 56.6954L120.541 22.3132L128.281 22.3491L129.984 23.932L130.418 49.8992L136.312 50.3315L136.687 24.458L138.314 22.7555ZM169.309 50.5743L169.411 58.6299L147.991 58.5307L148.138 22.531L169.15 23.3033L169.026 31.5378L157.147 31.3478L157.127 36.3428L164.73 36.693L164.7 44.1179L157.186 43.7681L157.116 49.8429L169.309 50.5743Z"
          fill="#FDA747"></path>
        <path
          d="M36.6056 69.2312L38.9332 72.272L38.5628 89.4905L36.2415 92.2397L21.6903 92.5024L21.9684 68.5034L36.6056 69.2312ZM28.2212 87.4025L32.4844 86.6423L32.7133 74.6732L28.3373 73.6929L28.2212 87.4025ZM40.483 68.7991L46.9038 68.6189L46.3578 92.1066L40.2057 92.5881L40.483 68.7991ZM63.4188 78.8054L64.8759 81.9622L64.6295 90.8712L62.7326 92.5424L48.9923 92.5988L47.862 90.2235L48.4557 84.4062L53.7956 84.4609L54.1746 87.1327L58.615 87.0633L58.7804 83.284L49.5148 82.1911L48.1711 80.6549L48.3622 70.6056L49.5379 69.2011L60.5501 68.682L64.4156 69.81L64.6624 75.4812L63.5485 76.436L59.3476 76.6266L58.6076 74.1931L54.6163 74.5046L54.2722 77.9531L63.4188 78.8054ZM77.2651 92.7897L77.1452 85.4091L72.4648 85.5074L72.0757 92.6157L66.0453 92.7078L67.0653 70.6922L68.2411 69.2877L81.3233 68.7782L83.1422 71.4867L83.5055 92.6986L77.2651 92.7897ZM72.7255 80.4386L77.0743 80.7587L76.9787 74.7882L73.0174 75.0998L72.7255 80.4386ZM100.274 78.9761L101.731 82.1329L101.485 91.0418L99.5877 92.7131L85.8473 92.7694L84.717 90.3942L85.3108 84.5769L90.6506 84.6316L91.0297 87.3034L95.47 87.2339L95.6355 83.4547L86.3699 82.3618L85.0262 80.8255L85.2172 70.7763L86.393 69.3717L97.4052 68.8527L101.271 69.9806L101.517 75.6518L100.404 76.6067L96.2027 76.7972L95.4627 74.3638L91.4714 74.6753L91.1273 78.1237L100.274 78.9761ZM102.852 68.8179L119.712 68.896L119.418 74.7447L114.647 74.9326L113.916 92.2994L107.734 92.8708L107.958 74.8716L102.859 74.608L102.852 68.8179ZM135.159 87.6277L135.227 92.9981L120.947 92.932L121.045 68.9322L135.053 69.4471L134.971 74.9367L127.051 74.8101L127.038 78.14L132.107 78.3735L132.087 83.3235L127.077 83.0903L127.031 87.1401L135.159 87.6277ZM152.339 86.4473L150.839 86.5303L152.921 90.89L152.407 91.9077L147.632 93.1156L144.297 86.92L142.947 87.0038L142.834 92.5233L136.562 92.9743L136.661 68.9745L152.377 69.7673L153.543 70.9427L153.518 84.4127L152.339 86.4473ZM147.257 74.6336L143.299 74.2553L143.119 81.6345L147.2 81.3534L147.257 74.6336ZM170.234 79.3001L171.691 82.4569L171.445 91.3658L169.548 93.037L155.808 93.0934L154.677 90.7182L155.271 84.9008L160.611 84.9556L160.99 87.6274L165.43 87.5579L165.596 83.7786L156.33 82.6857L154.986 81.1495L155.177 71.1003L156.353 69.6957L167.365 69.1767L171.231 70.3046L171.478 75.9758L170.364 76.9306L166.163 77.1212L165.423 74.6877L161.432 74.9993L161.087 78.4477L170.234 79.3001Z"
          fill="#FDA747"></path>
        <path
          d="M29.6939 107H174.082C185.132 107 193.416 96.886 191.239 86.0529L177.437 17.3558C175.733 8.87181 168.083 2.90754 159.44 3.32308L21.5331 9.95303C11.4023 10.4401 3.80584 19.41 4.99387 29.4827L12.3144 91.5498C13.3536 100.361 20.8219 107 29.6939 107Z"
          stroke="#FDA747"
          stroke-width="5"></path>
      </svg>

      <svg
        width="191"
        height="109"
        viewBox="0 0 191 109"
        fill="none"
        class="max-w-full"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M45.3109 27.4172L52.5624 26.914L53.3888 57.3554L51.9581 60.3977L33.3724 61.2749L30.5374 59.7921L28.7207 27.7514L35.9388 27.4597L37.5937 28.864L39.089 53.0573L44.6019 53.2129L43.8655 29.0729L45.3109 27.4172ZM70.5108 26.609L79.7261 25.8162L80.5032 59.1601L72.2882 59.7442L64.299 45.3131L64.658 59.2119L55.8376 60.409L54.6725 26.8287L63.7371 26.4624L70.9889 40.3349L70.5108 26.609ZM81.8567 26.0244L90.8254 25.3677L91.5416 58.2516L82.9678 59.3127L81.8567 26.0244ZM116.413 26.4774L117.283 54.8994L115.813 56.9765L117.371 59.0993L110.866 62.4307L106.113 58.2512L97.0536 58.7434L94.2185 57.2607L92.7936 27.6L94.0086 25.4492L114.353 24.4169L116.413 26.4774ZM107.784 32.3326L101.8 32.9948L102.804 51.3652L108.527 51.5122L107.784 32.3326ZM134.775 23.8018L142.027 23.2985L142.853 53.74L141.422 56.7823L122.837 57.6594L120.001 56.1767L118.185 24.1359L125.403 23.8442L127.058 25.2486L128.553 49.4419L134.066 49.5974L133.33 25.4575L134.775 23.8018ZM164.842 48.4378L165.276 55.9444L145.3 56.7516L143.925 23.1798L163.549 23.0173L163.779 30.7002L152.695 31.022L152.886 35.6801L159.99 35.6873L160.274 42.6115L153.254 42.6009L153.444 48.2679L164.842 48.4378Z"
          fill="#FDA747"></path>
        <path
          d="M47.5962 81.5266L46.3005 81.657L48.2733 85.3503L47.8678 86.2514L43.7808 87.4835L40.652 82.2495L39.4861 82.3747L39.604 87.1579L34.1914 87.7929L33.3403 67.0104L46.9787 67.0837L48.0333 68.0559L48.537 79.7191L47.5962 81.5266ZM42.7357 71.4966L39.2937 71.3235L39.4256 77.7194L42.9481 77.3168L42.7357 71.4966ZM62.0955 82.0335L62.3638 86.6805L49.9979 87.1802L49.1468 66.3976L61.2948 66.297L61.4376 71.0531L54.576 71.2523L54.6941 74.1359L59.092 74.1403L59.2675 78.4268L54.9216 78.4202L55.0393 81.9283L62.0955 82.0335ZM76.4596 74.089L77.8443 76.7653L77.9784 84.4882L76.4013 86.0091L64.5073 86.5938L63.4361 84.5814L63.7232 79.5217L68.3485 79.3608L68.781 81.6592L72.6226 81.4259L72.6185 78.1474L64.5538 77.5626L63.3305 76.2849L63.1039 67.577L64.0671 66.3151L73.5811 65.4362L76.9717 66.2619L77.4066 71.1624L76.4795 72.0325L72.8499 72.3614L72.1142 70.2834L68.6708 70.7088L68.5073 73.7078L76.4596 74.089ZM91.9826 64.6925L93.2579 65.9681L93.7953 83.5367L92.9096 85.42L81.2483 85.9693L79.4922 85.0255L78.608 66.6122L79.3861 65.2797L91.9826 64.6925ZM84.1859 69.3792L84.8333 81.3748L88.35 81.4669L87.9136 69.5408L84.1859 69.3792ZM104.624 64.3118L109.113 64.0003L109.625 82.845L108.739 84.7283L97.2335 85.2713L95.4785 84.3534L94.3539 64.5187L98.8222 64.3381L99.8466 65.2074L100.772 80.1843L104.185 80.2805L103.729 65.3367L104.624 64.3118ZM124.543 78.417L123.247 78.5474L125.22 82.2407L124.815 83.1419L120.728 84.3739L117.599 79.14L116.433 79.2651L116.551 84.0483L111.138 84.6834L110.287 63.9008L123.926 63.9741L124.98 64.9463L125.484 76.6095L124.543 78.417ZM119.683 68.387L116.241 68.2139L116.373 74.6098L119.895 74.2072L119.683 68.387ZM136.269 77.2926L141.115 77.435L141.415 81.5863L140.531 83.4955L128.818 84.047L127.039 83.1821L126.165 65.0286L126.874 63.2825L139.35 62.9344L140.966 64.2483L140.832 69.8743L135.922 70.0727L135.371 67.4408L131.728 67.4319L132.428 79.4514L135.92 79.5705L136.269 77.2926ZM155.025 78.278L155.294 82.925L142.928 83.4247L142.077 62.6421L154.225 62.5415L154.368 67.2976L147.506 67.4968L147.624 70.3804L152.022 70.3848L152.198 74.6713L147.852 74.6647L147.969 78.1728L155.025 78.278ZM169.39 70.3335L170.774 73.0098L170.908 80.7327L169.331 82.2536L157.437 82.8383L156.366 80.8259L156.653 75.7662L161.279 75.6053L161.711 77.9037L165.553 77.6704L165.548 74.3919L157.484 73.8071L156.26 72.5294L156.034 63.8215L156.997 62.5596L166.511 61.6807L169.902 62.5064L170.337 67.4069L169.409 68.277L165.78 68.6059L165.044 66.5279L161.601 66.9533L161.437 69.9523L169.39 70.3335Z"
          fill="#FDA747"></path>
        <path
          d="M22.7054 87.4318C24.745 95.2749 31.9027 100.692 40.0049 100.524L164.871 97.935C174.276 97.74 181.844 90.1445 182.005 80.7387L182.994 23.0977C183.167 13.0065 174.791 4.86122 164.709 5.31544L24.8307 11.6171C13.7129 12.118 5.88066 22.7329 8.68159 33.5037L22.7054 87.4318Z"
          stroke="#FDA747"
          stroke-width="5"></path>
      </svg>
    </div>
  </div>
  <!-- <div class="flex items-center justify-center min-h-screen bg-white">
        <div class="grid grid-cols-2 gap-2 w-4/5 max-w-8xl">
            <div class="flex items-center justify-center rounded-lg ">
                <img src="/squares/image1.png" alt="75+ Hackers" class="w-full h-full ">
            </div>
            <div class="flex items-center justify-center rounded-lg ">
                <img src="/squares/image2.png" alt="Diefen Bunker" class="w-96 h-full">
            </div>
            <div class="flex items-center justify-center rounded-lg ">
                <img src="/squares/image3.png" alt="Natural Disasters" class="w-full h-full ">
            </div>
            <div class="flex items-center justify-center rounded-lg ">
                <img src="/squares/image4.png" alt="35+ Countries" class="w-full h-full ">
            </div>
        </div>
    </div>
    <style>
        .grid-container {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(4, 1fr);
            gap: 2px;
            width: 1375px;
            height: 684px;
            position: relative;
        }
        .overlap {
            grid-column: span 2;
            position: relative;
        }
        .overlap .inner {
            position: absolute;
            top: 0;
            left: 0;
        }
    </style> -->
</div>
