---
---

<div>
    <div class="bg-dino-neon-orange text-center py-2">
        <h1 class="text-6xl font-bold text-white scrolling-text inline-block">
            HOW WILL IT WORK?
        </h1>
    </div>
    <!-- <div class="flex flex-col p-5 gap-5 font-adumu">
        <div class="flex flex-col md:flex-row gap-5">
            <div class="flex-1">
                <img
                    src="/squares/image.png"
                    alt="75+ Hackers"
                    class=""
                />
            </div>
            <div class="flex-1">
                <img
                    src="/squares/image2.png"
                    alt="Diefen Bunker"
                    class=""
                />
            </div>
        </div>
        <div class="flex flex-col md:flex-row gap-5">
            <div class="flex-1">
                <img
                    src="/squares/image3.png"
                    alt="Natural Disasters"
                    class=""
                />
            </div>
            <div class="flex-1">
                <img
                    src="/squares/image4.png"
                    alt="35+ Countries"
                    class=""
                />
            </div>
        </div>
    </div> -->

    <div class="flex flex-col flex-wrap h-auto w-screen p-5">
        <img src="/squares/image.png" alt="">
        <!-- <div class="flex flex-row w-full h-1/2">
            <img src="/squares/image.png" alt="image" class="object-contain w-auto h-auto">
            <img src="/squares/image2.png" alt="image2" class="object-contain w-auto h-auto -ml-72">
        </div>
        <div class="flex flex-row w-full h-1/2 gap-5">
            <img src="/squares/image3.png" alt="image3" class="object-contain w-auto h-auto">
            <img src="/squares/image4.png" alt="image4" class="object-contain w-auto h-auto">
        </div> -->
    </div>
    
</div>