<div>
  <div class="bg-dino-neon-orange text-center py-2">
    <h1 class="text-6xl font-bold text-white scrolling-text inline-block">
      HOW WILL IT WORK?
    </h1>
  </div>
  <div class="flex flex-col p-5 gap-5">
    <div class="flex flex-row">
      <div class="flex">
        <svg
          width="452.5"
          height="214"
          viewBox="0 0 725 344"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M3.5 30C3.5 15.3644 15.3645 3.5 30 3.5H694.241C716.813 3.5 729.051 29.9173 714.455 47.1356L473.711 331.136C468.676 337.075 461.283 340.5 453.496 340.5H30C15.3645 340.5 3.5 328.636 3.5 314V30Z"
            fill="white"
            fill-opacity="0.53"
            stroke="#FDA747"
            stroke-width="7"></path>
          <text
            x="20%"
            y="50%"
            dominant-baseline="middle"
            text-anchor="middle"
            fill="black"
            font-size="30px">75+</text>
          <text
            x="20%"
            y="60%"
            dominant-baseline="middle"
            text-anchor="middle"
            fill="black"
            font-size="30px">HACKERS</text>
        </svg>
      </div>
      <div class="flex -ml-24">
        <svg
          width="529.4"
          height="214"
          viewBox="0 0 847 344"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M249.113 12.9393C254.149 6.95473 261.57 3.5 269.391 3.5H817C831.636 3.5 843.5 15.3645 843.5 30V314C843.5 328.636 831.636 340.5 817 340.5H30.4463C7.92011 340.5 -4.33365 314.176 10.1687 296.939L249.113 12.9393Z"
            fill="white"
            fill-opacity="0.53"
            stroke="#FDA747"
            stroke-width="7"></path>
          <text
            x="50%"
            y="50%"
            dominant-baseline="middle"
            text-anchor="middle"
            fill="black"
            font-size="30px">DIEFEN</text
          >
          <text
            x="50%"
            y="50%"
            dominant-baseline="middle"
            text-anchor="middle"
            fill="black"
            font-size="30px">Text 2</text
          >
          <text
            x="50%"
            y="50%"
            dominant-baseline="middle"
            text-anchor="middle"
            fill="black"
            font-size="30px">Text 2</text
          >
        </svg>
      </div>
    </div>
    <div class="flex flex-row gap-5">
      <div class="flex">
        <svg
          width="331.25"
          height="226.25"
          viewBox="0 0 530 362"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M3.5 30C3.5 15.3644 15.3645 3.5 30 3.5H500C514.636 3.5 526.5 15.3645 526.5 30V331.84C526.5 346.475 514.636 358.34 500 358.34H30C15.3645 358.34 3.5 346.475 3.5 331.84V30Z"
            fill="white"
            fill-opacity="0.53"
            stroke="#FDA747"
            stroke-width="7"></path>
          <text
            x="50%"
            y="50%"
            dominant-baseline="middle"
            text-anchor="middle"
            fill="black"
            font-size="30px">NATURAL</text
          >
          <text
            x="50%"
            y="50%"
            dominant-baseline="middle"
            text-anchor="middle"
            fill="black"
            font-size="30px">DISASTERS</text
          >
        </svg>
      </div>
      <div class="flex">
        <svg
          width="513.125"
          height="226.25"
          viewBox="0 0 821 362"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M3.5 30C3.5 15.3644 15.3645 3.5 30 3.5H791C805.636 3.5 817.5 15.3645 817.5 30V331.84C817.5 346.475 805.636 358.34 791 358.34H30C15.3645 358.34 3.5 346.475 3.5 331.84V30Z"
            fill="white"
            fill-opacity="0.53"
            stroke="#FDA747"
            stroke-width="7"></path>
          <text
            x="50%"
            y="50%"
            dominant-baseline="middle"
            text-anchor="middle"
            fill="black"
            font-size="30px">35+</text
          >
          <text
            x="50%"
            y="50%"
            dominant-baseline="middle"
            text-anchor="middle"
            fill="black"
            font-size="30px">COUNTRIES</text
          >
        </svg>
      </div>
    </div>
  </div>
</div>
