<section
  class="overflow-x-clip flex justify-center flex-col bg-dino-teal py-44 pb-80"
  id="about"
>
  <div class="text-center uppercase">
    <h2 class="text-4xl text-teal-50 mt-5 lg:text-5xl font-bold tracking-wide">
      Join us against
    </h2>
    <h1 class="text-7xl font-adumu text-white lg:text-8xl">
      Natural<br />disasters
    </h1>
  </div>
</section>
