---

---

<div class="min-h-screen flex items-center justify-center flex-col space-y-2">
    <div class="flex flex-row gap-5">
        <h2>Sponsors</h2>
        <h2>About</h2>
        <h2>FAQ</h2>
    </div>
  </div>
  