<nav
  class="fixed top-0 left-0 right-0 z-50 flex justify-center text-white bg-dino-teal motion-safe:transition-all"
>
  <div class="flex h-16 max-w-6xl mx-8 md:h-20 grow">
    <a
      class="flex items-center justify-center space-x-4 md:space-x-4 grow md:grow-0 md:justify-start group"
      href="/"
    >
      <img
        src="/logo.png"
        alt="Ragnohacks Logo"
        class="block size-10 md:size-12 logo-shadow motion-safe:hover:scale-105 motion-safe:transition-transform"
      />
      <svg
        viewBox="0 0 286 72"
        fill="currentColor"
        class="block h-12 motion-safe:hover:scale-105 motion-safe:hover:rotate-1 motion-safe:hover:drop-shadow motion-safe:transition-transform"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M164.978 12.1077L175.774 13.0557L174.922 51.9771L164.229 51.3692L164.517 36.5995L157.515 36.2824L157.068 51.0005L146.532 51.5376L146.531 12.0265L158.233 12.1457L157.795 26.9614L164.698 27.2788L164.978 12.1077Z"
          fill="currentColor"></path>
        <path
          d="M204.261 22.9503L205.191 54.6288L195.722 54.717L195.361 43.5531L188.124 43.9335L187.475 54.4076L178.686 54.4984L179.845 21.6275L181.6 19.541L201.449 18.8881L204.261 22.9503ZM195.264 36.7486L194.971 27.8245L188.962 28.2633L188.565 36.2304L195.264 36.7486Z"
          fill="currentColor"></path>
        <path
          d="M181.017 57.1011L201.081 57.6754L201.135 65.0384L180.731 64.6546L181.017 57.1011Z"
          fill="currentColor"></path>
        <path
          d="M222.258 46.5734L230.261 47.2091L230.532 53.9862L228.966 57.0189L209.547 56.9488L206.65 55.3974L206.216 25.7926L207.481 23.0039L228.144 23.4675L230.746 25.7431L230.214 34.886L222.082 34.8018L221.31 30.0067L215.277 29.6907L215.826 50.7057L221.561 51.1808L222.258 46.5734Z"
          fill="currentColor"></path>
        <path
          d="M259.43 31.5914L255.181 34.0329L260.062 52.3759L259.259 54.7479L250.622 56.8646L246.437 39.0414L242.795 41.1411L241.978 55.2504L231.531 55.8232L232.707 16.7029L244.181 17.1551L243.511 29.2011L250.034 25.4381L250.812 17.3657L261.278 18.1185L259.43 31.5914Z"
          fill="currentColor"></path>
        <path
          d="M281.831 35.6895L283.789 39.7818L283.605 51.2734L281.142 53.4227L263.107 53.3961L261.589 50.3255L262.277 42.8184L269.049 42.9216L269.623 46.3754L275.648 46.3203L275.806 41.4381L263.625 39.961L261.846 37.9692L261.943 24.9961L263.464 23.1937L277.913 22.6014L283.002 24.0845L283.411 31.4115L281.963 32.6347L276.451 32.853L275.443 29.7085L270.21 30.0703L269.809 34.5315L281.831 35.6895Z"
          fill="currentColor"></path>
        <path
          d="M263.258 14.115L280.546 14.6158L280.594 20.9595L263.011 20.6217L263.258 14.115Z"
          fill="currentColor"></path>
        <path
          d="M34.1466 44.2875L31.0928 44.6041L35.2789 52.9418L34.2956 54.902L25.2357 57.1335L18.5983 45.2959L15.7086 45.379L15.2633 55.8683L3.30545 56.7367L2.94336 10.4043L33.8486 12.5739L36.1647 14.8573L36.4256 40.4335L34.1466 44.2875ZM23.9347 34.4497L23.896 21.4603L16.1059 20.6302L15.923 34.9433L23.9347 34.4497Z"
          fill="currentColor"></path>
        <path
          d="M60.6645 25.0126L61.4862 53.331L53.0254 53.4042L52.7075 43.4336L46.2329 43.7667L45.6549 53.1269L37.7993 53.2166L38.8328 23.8382L40.4063 21.966L58.1495 21.3867L60.6645 25.0126ZM52.6126 37.3462L52.348 29.3776L46.9842 29.7623L46.6282 36.8872L52.6126 37.3462Z"
          fill="currentColor"></path>
        <path
          d="M76.5216 40.3703L89.9862 41.1797L89.5747 58.0361L87.5851 61.4462L64.9049 60.5513L61.6036 58.4417L62.6299 23.5496L64.3237 21.3135L88.0712 22.1177L91.0415 24.7552L89.935 35.8296L80.5323 35.3324L80.0204 30.0591L72.9665 30.0309L72.4476 52.4835L79.2716 53.2885L79.6442 48.6068L76.2405 48.0772L76.5216 40.3703Z"
          fill="currentColor"></path>
        <path
          d="M109.283 13.7917L119.186 13.4553L118.167 47.7232L110.259 47.9494L101.983 30.8971L101.49 47.0328L92.6509 47.8129L92.6506 13.2314L102.201 13.3304L109.306 27.9281L109.283 13.7917Z"
          fill="currentColor"></path>
        <path
          d="M142.064 26.6521L144.137 28.8611L144.053 58.0009L142.456 61.0442L122.781 60.9717L119.879 59.2558L119.428 28.7001L120.814 26.5621L142.064 26.6521ZM128.666 33.7446L129.08 53.6599L135.002 54.1093L134.935 34.3354L128.666 33.7446Z"
          fill="currentColor"></path>
        <path
          d="M93.5704 50.2884L118.593 51.006L118.657 60.1855L93.2137 59.7017L93.5704 50.2884Z"
          fill="currentColor"></path>
      </svg>
    </a>

    <div
      class="items-center justify-end hidden space-x-4 text-xl font-bold text-white uppercase md:flex sm:space-x-6 sm:justify-center md:space-x-8 grow"
    >
      <a href="#about" class="hover:underline">About</a>
      <a href="#sponsors" class="hover:underline">Sponsors</a>
      <a href="#faq" class="hover:underline">FAQ</a>
    </div>

    <div class="flex items-center justify-end space-x-12">
      <button
        class="hidden px-6 py-2 text-lg font-extrabold text-orange-600 uppercase rounded-full bg-dino-orange lg:block motion-safe:hover:scale-105 motion-safe:hover:shadow motion-safe:transition-all"
      >
        Coming soon!
      </button>
      <div class="items-center hidden space-x-4 text-white md:flex">
        <a
          href="https://www.instagram.com/ragnohacks_/"
          target="_blank"
          title="Our Instagram"
          class="hover:text-teal-50"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 256 256"
            class="size-8"
            ><path
              fill="currentColor"
              d="M128 23.064c34.177 0 38.225.13 51.722.745c12.48.57 19.258 2.655 23.769 4.408c5.974 2.322 10.238 5.096 14.717 9.575s7.253 8.743 9.575 14.717c1.753 4.511 3.838 11.289 4.408 23.768c.615 13.498.745 17.546.745 51.723s-.13 38.226-.745 51.723c-.57 12.48-2.655 19.257-4.408 23.768c-2.322 5.974-5.096 10.239-9.575 14.718s-8.743 7.253-14.717 9.574c-4.511 1.753-11.289 3.839-23.769 4.408c-13.495.616-17.543.746-51.722.746s-38.228-.13-51.723-.746c-12.48-.57-19.257-2.655-23.768-4.408c-5.974-2.321-10.239-5.095-14.718-9.574c-4.479-4.48-7.253-8.744-9.574-14.718c-1.753-4.51-3.839-11.288-4.408-23.768c-.616-13.497-.746-17.545-.746-51.723s.13-38.225.746-51.722c.57-12.48 2.655-19.258 4.408-23.769c2.321-5.974 5.095-10.238 9.574-14.717c4.48-4.48 8.744-7.253 14.718-9.575c4.51-1.753 11.288-3.838 23.768-4.408c13.497-.615 17.545-.745 51.723-.745M128 0C93.237 0 88.878.147 75.226.77c-13.625.622-22.93 2.786-31.071 5.95c-8.418 3.271-15.556 7.648-22.672 14.764S9.991 35.738 6.72 44.155C3.555 52.297 1.392 61.602.77 75.226C.147 88.878 0 93.237 0 128s.147 39.122.77 52.774c.622 13.625 2.785 22.93 5.95 31.071c3.27 8.417 7.647 15.556 14.763 22.672s14.254 11.492 22.672 14.763c8.142 3.165 17.446 5.328 31.07 5.95c13.653.623 18.012.77 52.775.77s39.122-.147 52.774-.77c13.624-.622 22.929-2.785 31.07-5.95c8.418-3.27 15.556-7.647 22.672-14.763s11.493-14.254 14.764-22.672c3.164-8.142 5.328-17.446 5.95-31.07c.623-13.653.77-18.012.77-52.775s-.147-39.122-.77-52.774c-.622-13.624-2.786-22.929-5.95-31.07c-3.271-8.418-7.648-15.556-14.764-22.672S220.262 9.99 211.845 6.72c-8.142-3.164-17.447-5.328-31.071-5.95C167.122.147 162.763 0 128 0m0 62.27c-36.302 0-65.73 29.43-65.73 65.73s29.428 65.73 65.73 65.73c36.301 0 65.73-29.428 65.73-65.73c0-36.301-29.429-65.73-65.73-65.73m0 108.397c-23.564 0-42.667-19.103-42.667-42.667S104.436 85.333 128 85.333s42.667 19.103 42.667 42.667s-19.103 42.667-42.667 42.667m83.686-110.994c0 8.484-6.876 15.36-15.36 15.36s-15.36-6.876-15.36-15.36s6.877-15.36 15.36-15.36s15.36 6.877 15.36 15.36"
            ></path></svg
          >
        </a>
        <a
          href="mailto:team@ragnohacks.com"
          target="_blank"
          title="Email us"
          class="hover:text-teal-50"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.75"
            stroke="currentColor"
            class="size-10"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75"
            ></path>
          </svg>
        </a>
      </div>
    </div>
  </div>
</nav>

<style>
  .logo-shadow {
    filter: drop-shadow(rgba(0, 0, 0, 0.5) 4px 3px 1px);
  }
</style>

<script lang="ts">
  const nav = document.querySelector("nav");

  window.addEventListener("scroll", () => {
    let scrollPos = window.scrollY;
    if (scrollPos > 5) {
      nav.classList.add("shadow");
    } else {
      nav.classList.remove("shadow");
    }
  });
</script>
