---

---

<div class="flex items-center py-3 bg-dino-teal w-screen">
    <div class="flex flex-row items-center">
        <img src="./icons/logo.svg" alt="dino" class="h-10 absolute float-left">
        <img src="./title.svg" alt="ragnohacks" class="hidden sm:flex">
    </div>
    <div class="flex-row gap-5 text-white hidden sm:flex">
        <a href="#about">About</a>
        <a href="#about">Sponsors</a>
        <a href="#about">FAQ</a>
    </div>
    <button class="bg-dino-orange text-dino-dark-orange font-extrabold px-4 py-2 rounded-xl hidden sm:flex">REGISTER NOW!</button>
    <div class="flex-row hidden sm:flex">
        <img src="./icons/instagram.svg" alt="instagram" class="h-8">
        <img src="./icons/mail.svg" alt="mail" class="h-8">
    </div>

    <!--going to change into a animatable hamburger l8r -->
    <img src="./icons/hamburger.svg" alt="hamburger" class="flex h-10 absolute float-right sm:hidden">
</div>

  